<div class="index awards main-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 p-0">
        <section class="section section4 scroll">
          <div class="container-fluid h-100">
            <div class="row committeeRow">
              <div class="col-md-12 px-md-5 mb-3">
                <h1 style="text-decoration: underline" class="m-0">
                  <img
                    src="assets/UIComponents/images/wc.svg"
                    alt="underline"
                  />
                  Working Committee
                </h1>
                <p style="font-weight: 400; text-align: center">
                  (Head of Committee in <b>Bold</b> )
                </p>
              </div>
              <div class="col-md-12 border-bottom">
                <div class="row">
                  <div class="col-md-4 my-2">
                    <ul class="nomineeList">
                      <!-- <li><h6 class="col-md-6 m-0 text-white p-2"> <img loading="eager" src="assets/UIComponents/images/awards/justiceWhite.svg" alt="justiceWhite" class="me-2">Justice Awards</h6></li> -->
                      <li>
                        <ul class="committee-list">
                          <li class="custom-list-head justiceLogo">
                            <p>SUPPORT TO CHAIRMAN OFFICE</p>
                            <ul>
                              <li><b>Aline </b></li>
                              <li>Savanna</li>
                              <li>Sneha</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-4 my-2">
                    <ul class="nomineeList">
                      <!-- <li><h6 class="col-md-6 m-0 text-white p-2"> <img loading="eager" src="assets/UIComponents/images/awards/justiceWhite.svg" alt="justiceWhite" class="me-2">Justice Awards</h6></li> -->
                      <li>
                        <ul class="committee-list">
                          <li class="custom-list-head justiceLogo">
                            <p>SECRETARIAT COMMITTEE</p>
                            <ul>
                              <li><b>Nikunj </b></li>
                              <li>Faiza</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-4 my-2">
                    <ul class="nomineeList">
                      <!-- <li><h6 class="col-md-6 m-0 text-white p-2"> <img loading="eager" src="assets/UIComponents/images/awards/justiceWhite.svg" alt="justiceWhite" class="me-2">Justice Awards</h6></li> -->
                      <li>
                        <ul class="committee-list">
                          <li class="custom-list-head justiceLogo">
                            <p>LEGAL ENTITY COMMITTEE</p>
                            <ul>
                              <li><b>Rahmat </b></li>
                              <li>Rajesh</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-12 border-bottom">
                <div class="row">
                  <div class="col-md-4 my-2">
                    <ul class="nomineeList">
                      <!-- <li><h6 class="col-md-6 m-0 text-white p-2"> <img loading="eager" src="assets/UIComponents/images/awards/justiceWhite.svg" alt="justiceWhite" class="me-2">Justice Awards</h6></li> -->
                      <li>
                        <ul class="committee-list">
                          <li class="custom-list-head justiceLogo">
                            <p>FINANCE COMMITTEE</p>
                            <ul>
                              <li>
                                <b> Ganesh</b>
                              </li>
                              <li>Rajesh</li>
                              <li>Poonam</li>
                              <li>Afroze</li>
                              <li>Gaurav</li>
                              <li>Lamiya</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-4 my-2">
                    <ul class="nomineeList">
                      <!-- <li><h6 class="col-md-6 m-0 text-white p-2"> <img loading="eager" src="assets/UIComponents/images/awards/justiceWhite.svg" alt="justiceWhite" class="me-2">Justice Awards</h6></li> -->
                      <li>
                        <ul class="committee-list">
                          <li class="custom-list-head justiceLogo">
                            <p>IT COMMITTEE</p>
                            <ul>
                              <li><b>Farhat </b></li>
                              <li>RAKESH</li>
                              <li>MUKESH</li>
                              <li>VISHAL</li>
                              <li>Khozem</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-4 my-2">
                    <ul class="nomineeList">
                      <!-- <li><h6 class="col-md-6 m-0 text-white p-2"> <img loading="eager" src="assets/UIComponents/images/awards/justiceWhite.svg" alt="justiceWhite" class="me-2">Justice Awards</h6></li> -->
                      <li>
                        <ul class="committee-list">
                          <li class="custom-list-head justiceLogo">
                            <p>CURATION COMMITTEE</p>
                            <ul>
                              <li><b>Dr. Huzaifa</b></li>
                              <li><b>Rajesh A</b></li>
                              <li><b>Farhat</b></li>
                              <li>Dr. Shireen</li>
                              <li>Savanna</li>
                              <li>Neha B</li>
                              <li>Fatima B</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-12 border-bottom">
                <div class="row">
                  <div class="col-md-4 my-2">
                    <ul class="nomineeList">
                      <!-- <li><h6 class="col-md-6 m-0 text-white p-2"> <img loading="eager" src="assets/UIComponents/images/awards/justiceWhite.svg" alt="justiceWhite" class="me-2">Justice Awards</h6></li> -->
                      <li>
                        <ul class="committee-list">
                          <li class="custom-list-head justiceLogo">
                            <p>EVENT MANAGEMENT COMMITTEE</p>
                            <ul>
                              <li><b>Farhat </b></li>
                              <li><b>Rajesh</b></li>
                              <li>Prajeep</li>
                              <li>Bindu</li>
                              <li>Kunjal</li>
                              <li>Keerti</li>
                            </ul>
                            <label class="note"><span>Note: </span>Further detailed break-up is given below.</label>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-4 my-2">
                    <ul class="nomineeList">
                      <!-- <li><h6 class="col-md-6 m-0 text-white p-2"> <img loading="eager" src="assets/UIComponents/images/awards/justiceWhite.svg" alt="justiceWhite" class="me-2">Justice Awards</h6></li> -->
                      <li>
                        <ul class="committee-list">
                          <li class="custom-list-head justiceLogo">
                            <p>MENU COMMITTEE</p>
                            <ul>
                              <li>Samina K</li>
                              <li><b>Farhat </b></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-4 my-2">
                    <ul class="nomineeList">
                      <!-- <li><h6 class="col-md-6 m-0 text-white p-2"> <img loading="eager" src="assets/UIComponents/images/awards/justiceWhite.svg" alt="justiceWhite" class="me-2">Justice Awards</h6></li> -->
                      <li>
                        <ul class="committee-list">
                          <li class="custom-list-head justiceLogo">
                            <p>RETURN GIFTS COMMITTEE</p>
                            <ul>
                              <li>Samina K</li>
                              <li><b> Farhat </b></li>
                              <li>Jennifer</li>
                              <li>Savanna</li>
                              <li>Sukaina</li>
                              <li>Shahd</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-12 border-bottom">
                <div class="row">
                  <div class="col-md-4 my-2">
                    <ul class="nomineeList">
                      <!-- <li><h6 class="col-md-6 m-0 text-white p-2"> <img loading="eager" src="assets/UIComponents/images/awards/justiceWhite.svg" alt="justiceWhite" class="me-2">Justice Awards</h6></li> -->
                      <li>
                        <ul class="committee-list">
                          <li class="custom-list-head justiceLogo">
                            <p>ONLINE TICKETING</p>
                            <ul>
                              <li><b>Fatima B </b></li>
                              <li>Bindu</li>
                              <li>Rajesh</li>
                              <li>Rakesh</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-4 my-2">
                    <ul class="nomineeList">
                      <!-- <li><h6 class="col-md-6 m-0 text-white p-2"> <img loading="eager" src="assets/UIComponents/images/awards/justiceWhite.svg" alt="justiceWhite" class="me-2">Justice Awards</h6></li> -->
                      <li>
                        <ul class="committee-list">
                          <li class="custom-list-head justiceLogo">
                            <p>TRAVEL, ACCOMODATION, CAR COMMITTEE</p>
                            <ul>
                              <li>Farhat</li>
                              <li><b>Goolrez</b></li>
                              <li>Tanuja</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-4 my-2">
                    <ul class="nomineeList">
                      <!-- <li><h6 class="col-md-6 m-0 text-white p-2"> <img loading="eager" src="assets/UIComponents/images/awards/justiceWhite.svg" alt="justiceWhite" class="me-2">Justice Awards</h6></li> -->
                      <li>
                        <ul class="committee-list">
                          <li class="custom-list-head justiceLogo">
                            <p>PR COMMITTEE</p>
                            <ul>
                              <li>Gagan M</li>
                              <li><b>Farhat</b></li>
                              <li><b>Rajesh</b></li>
                              <li>Yash Kansal</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-12 border-bottom">
                <div class="row">
                  <div class="col-md-4 my-2">
                    <ul class="nomineeList">
                      <!-- <li><h6 class="col-md-6 m-0 text-white p-2"> <img loading="eager" src="assets/UIComponents/images/awards/justiceWhite.svg" alt="justiceWhite" class="me-2">Justice Awards</h6></li> -->
                      <li>
                        <ul class="committee-list">
                          <li class="custom-list-head justiceLogo">
                            <p>HELPLINE COMMITTEE</p>
                            <ul>
                              <li><b>Jean </b></li>
                              <li>Rakesh</li>
                              <li>Sandeep G</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-4 my-2">
                    <ul class="nomineeList">
                      <!-- <li><h6 class="col-md-6 m-0 text-white p-2"> <img loading="eager" src="assets/UIComponents/images/awards/justiceWhite.svg" alt="justiceWhite" class="me-2">Justice Awards</h6></li> -->
                      <li>
                        <ul class="committee-list">
                          <li class="custom-list-head justiceLogo">
                            <p>DATABASE COMMITTEE</p>
                            <ul>
                              <li><b>Sandeep Gupta </b></li>
                              <li>Jean</li>
                              <li>Hala</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-4 my-2">
                    <ul class="nomineeList">
                      <!-- <li><h6 class="col-md-6 m-0 text-white p-2"> <img loading="eager" src="assets/UIComponents/images/awards/justiceWhite.svg" alt="justiceWhite" class="me-2">Justice Awards</h6></li> -->
                      <li>
                        <ul class="committee-list">
                          <li class="custom-list-head justiceLogo">
                            <p>
                              DESIGNING & PRINT COLLATERAL
                              <span style="text-transform: lowercase"
                                >incl</span
                              >
                              INVENTORY
                            </p>
                            <ul>
                              <li><b>Khozem </b></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-12 border-bottom">
                <div class="row">
                  <div class="col-md-4 my-2">
                    <ul class="nomineeList">
                      <!-- <li><h6 class="col-md-6 m-0 text-white p-2"> <img loading="eager" src="assets/UIComponents/images/awards/justiceWhite.svg" alt="justiceWhite" class="me-2">Justice Awards</h6></li> -->
                      <li>
                        <ul class="committee-list">
                          <li class="custom-list-head justiceLogo">
                            <p>DIRECT/WHATSAPP MARKETING COMMITTEE</p>
                            <ul>
                              <li><b>Sandeep G </b></li>
                              <li>Jean</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-4 my-2">
                    <ul class="nomineeList">
                      <!-- <li><h6 class="col-md-6 m-0 text-white p-2"> <img loading="eager" src="assets/UIComponents/images/awards/justiceWhite.svg" alt="justiceWhite" class="me-2">Justice Awards</h6></li> -->
                      <li>
                        <ul class="committee-list">
                          <li class="custom-list-head justiceLogo">
                            <p>INDIVIDUAL MARKETING COMMITTEE</p>
                            <ul>
                              <li>Nivedita</li>
                              <li>Shahnaz</li>
                              <li><b>Nikhil M </b></li>
                              <li>Gagan M</li>
                              <li>Dharam</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-4 my-2">
                    <ul class="nomineeList">
                      <!-- <li><h6 class="col-md-6 m-0 text-white p-2"> <img loading="eager" src="assets/UIComponents/images/awards/justiceWhite.svg" alt="justiceWhite" class="me-2">Justice Awards</h6></li> -->
                      <li>
                        <ul class="committee-list">
                          <li class="custom-list-head justiceLogo">
                            <p>INTERNATIONAL RELATIONS COMMITTEE</p>
                            <ul>
                              <li><b>Jason </b></li>
                              <li>Nikhil M</li>
                              <li>Gagan M</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-12 border-bottom">
                <div class="row">
                  <div class="col-md-4 my-2">
                    <ul class="nomineeList">
                      <!-- <li><h6 class="col-md-6 m-0 text-white p-2"> <img loading="eager" src="assets/UIComponents/images/awards/justiceWhite.svg" alt="justiceWhite" class="me-2">Justice Awards</h6></li> -->
                      <li>
                        <ul class="committee-list">
                          <li class="custom-list-head justiceLogo">
                            <p>
                              PEACE COLLABORATOR / PARTNER / PATRON COMMITTEE
                            </p>
                            <ul>
                              <li>JEAN</li>
                              <li>Farhat</li>
                              <li><b>Nikhil M</b></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-4 my-2">
                    <ul class="nomineeList">
                      <!-- <li><h6 class="col-md-6 m-0 text-white p-2"> <img loading="eager" src="assets/UIComponents/images/awards/justiceWhite.svg" alt="justiceWhite" class="me-2">Justice Awards</h6></li> -->
                      <li>
                        <ul class="committee-list">
                          <li class="custom-list-head justiceLogo">
                            <p>PEACE GUESTS</p>
                            <ul>
                              <li><b>Jennifer </b></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-4 my-2">
                    <ul class="nomineeList">
                      <!-- <li><h6 class="col-md-6 m-0 text-white p-2"> <img loading="eager" src="assets/UIComponents/images/awards/justiceWhite.svg" alt="justiceWhite" class="me-2">Justice Awards</h6></li> -->
                      <li>
                        <ul class="committee-list">
                          <li class="custom-list-head justiceLogo">
                            <p>PEACE STUDENTS COMMITTEE</p>
                            <ul>
                              <li><b>Taiyzun </b></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-12 border-bottom">
                <div class="row">
                  <div class="col-md-4 my-2">
                    <ul class="nomineeList">
                      <!-- <li><h6 class="col-md-6 m-0 text-white p-2"> <img loading="eager" src="assets/UIComponents/images/awards/justiceWhite.svg" alt="justiceWhite" class="me-2">Justice Awards</h6></li> -->
                      <li>
                        <ul class="committee-list">
                          <li class="custom-list-head justiceLogo">
                            <p>PEACEKEEPER (DELEGATE) REGISTRATION</p>
                            <ul>
                              <li><b>Rakesh </b></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-4 my-2">
                    <ul class="nomineeList">
                      <!-- <li><h6 class="col-md-6 m-0 text-white p-2"> <img loading="eager" src="assets/UIComponents/images/awards/justiceWhite.svg" alt="justiceWhite" class="me-2">Justice Awards</h6></li> -->
                      <li>
                        <ul class="committee-list">
                          <li class="custom-list-head justiceLogo">
                            <p>SOCIAL MEDIA COMMITTEE</p>
                            <ul>
                              <li><b>Nadia </b></li>
                              <li>Jennifer (FB, Insta, YT)</li>
                              <li>Fatima B (LinkedIn)</li>
                              <li>Rakesh (Google Ads & SEO)</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-4 my-2">
                    <ul class="nomineeList">
                      <!-- <li><h6 class="col-md-6 m-0 text-white p-2"> <img loading="eager" src="assets/UIComponents/images/awards/justiceWhite.svg" alt="justiceWhite" class="me-2">Justice Awards</h6></li> -->
                      <li>
                        <ul class="committee-list">
                          <li class="custom-list-head justiceLogo">
                            <p>SPEAKERS / AWARDEES PROFILE COMMITTEE</p>
                            <ul>
                              <li><b>Neha</b></li>
                              <li>Fatima B</li>
                              <li>Savanna</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-12 border-bottom">
                <div class="row">
                  <div class="col-md-4 my-2">
                    <ul class="nomineeList">
                      <!-- <li><h6 class="col-md-6 m-0 text-white p-2"> <img loading="eager" src="assets/UIComponents/images/awards/justiceWhite.svg" alt="justiceWhite" class="me-2">Justice Awards</h6></li> -->
                      <li>
                        <ul class="committee-list">
                          <li class="custom-list-head justiceLogo">
                            <p>TELECALLER COMMITTEE</p>
                            <ul>
                              <li><b>Jean </b></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-4 my-2">
                    <ul class="nomineeList">
                      <!-- <li><h6 class="col-md-6 m-0 text-white p-2"> <img loading="eager" src="assets/UIComponents/images/awards/justiceWhite.svg" alt="justiceWhite" class="me-2">Justice Awards</h6></li> -->
                      <li>
                        <ul class="committee-list">
                          <li class="custom-list-head justiceLogo">
                            <p>WRITTEN COMMUNICATION COMMITTEE</p>
                            <ul>
                              <li><b>Taiyzun</b></li>
                              <li>Jitendra</li>
                              <li>Nikhil M</li>
                              <li>Hala</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 my-4">
                <h2>Detailed Event Committees</h2>
              </div>

              <div class="col-md-3 my-3">
                <div class="card h-100">
                  <div class="card-header">
                      <p><span>1. </span>Event - Venue Matters (booking, permissions, coordination)</p>
                  </div>
                  <div class="card-body">
                    <ul>
                      <li>Rajesh</li>
                      <li>Farhat</li>
                      <li>Synerggy</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 my-3">
                <div class="card h-100">
                  <div class="card-header">
                    
                      <p><span>2. </span>Event - Curation (content, emcees, schedule)</p>
                    
                  </div>
                  <div class="card-body">
                    <ul>
                      <li>Rajesh</li>
                      <li>Farhat</li>
                      <li>Synerggy</li>
                      <li>Gratiya</li>
                      <li>Emcees</li>
                      <li>+++ Dr. Huzaifa</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 my-3">
                <div class="card h-100">
                  <div class="card-header">
                    
                      <p><span>3. </span>Event - Production (stage, light, sound, video, camera. Etc)</p>
                    
                  </div>
                  <div class="card-body">
                    <ul>
                      <li>Synerggy</li>
                      <li>Rajesh</li>
                      <li>Farhat</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 my-3">
                <div class="card h-100">
                  <div class="card-header">
                      <p><span>4. </span>Event - Guest Hospitality, Logistics</p>
                  </div>
                  <div class="card-body">
                    <ul>
                      <li>Party Cruisers</li>
                      <li>Farhat</li>
                      <li>Rajesh</li>
                      <li>Nikunj</li>
                      <li>Goolrez</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 my-3">
                <div class="card h-100">
                  <div class="card-header">
                      <p><span>5. </span>Event - F&B</p>
                  </div>
                  <div class="card-body">
                    <ul>
                      <li>Farhat</li>
                      <li>Rajesh</li>
                      <li>Samina K</li>
                      <li>Synerggy</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 my-3">
                <div class="card h-100">
                  <div class="card-header">
                      <p><span>6. </span>Event - Culture Hall</p>
                  </div>
                  <div class="card-body">
                    <ul>
                      <li>Farhat</li>
                      <li>Rajesh</li>
                      <li>Party Cruisers</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 my-3">
                <div class="card h-100">
                  <div class="card-header">
                      <p><span>7. </span>Event - Registration</p>
                  </div>
                  <div class="card-body">
                    <ul>
                      <li>Farhat</li>
                      <li>Rajesh</li>
                      <li>Rakesh Gupta</li>
                      <li>Synerggy</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 my-3">
                <div class="card h-100">
                  <div class="card-header">
                      <p><span>8. </span>Event - Branding</p>
                  </div>
                  <div class="card-body">
                    <ul>
                      <li>Farhat</li>
                      <li>Rajesh</li>
                      <li>Synerggy</li>
                      <li>Party Cruisers</li>
                      <li>Jennifer, Savanna, Khozem</li>
                      <li>Dr Huzaifa</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
