<main class="index footerLinks" style="min-height: 90vh">
  <section class="f1">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-4 text-center">
          <img
            loading="eager"
            src="assets/UIComponents/images/index/global justice summit.png"
            alt="attach image"
            class="col-md-7 col-4"
          />
          <!-- <h1>About Us</h1> -->
        </div>
        <div class="col-md-8">
          <h1 class="text-center my-4" style="text-decoration: none;">
            <!-- <span class="count me-2" style="display: inline-flex">1</span> -->
            <b style="color: #008a38">About Us</b>
          </h1>
          <ul class="p-0" style="list-style-type: none">
            <li>
              <!-- <h3><b>Introduction:</b></h3> -->
              <p>
                The Global Justice, Love & Peace Summit is a forthcoming event
                scheduled for the 12th & 13th April 2025 in Dubai. A
                Star-studded gathering of unprecedented magnitude dedicated to
                the ideals of Justice, Love & Peace.
              </p>
              <p>
                The event is being organized by Jupiter Events L.L.C under the
                able leadership of <span style="white-space: nowrap;"><b>Dr. Huzaifa Khorakiwala.</b></span>
              </p>
              <p class="mt-md-5"
                style="
                  font-weight: 500;
                  line-height: 100%;
                  letter-spacing: 0%;
                  color: #005B94;
                "
              >
                Jupiter Events L.L.C
              </p>
              <p>
                F1-503, Property Investment Office 4, Plot No. 598-676, <br> Dubai
                Investment Park First, Dubai, U.A.E, PO. BOX : 47626
              </p>
              <ul class="p-0 d-md-flex" style="list-style-type: none">
                <li style="color: #005B94;">Contact: <a href="tel:+971543257125" style="color: #005B94;">+971 54 325 7125</a></li>
                <li style="color: #005B94;" class="ms-md-5">TRN104766727200003</li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- <div class="col-md-6">
          <img
            loading="eager"
            src="assets/UIComponents/images/contact-us/contact-info.gif"
            alt="attach image"
            class="col-12 col-lg-9"
          />
        </div> -->
      </div>
    </div>
  </section>
</main>
