<main class="index footerLinks">
  <section class="f1 p-lg-5">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-6 text-center">
          <img loading="eager" src="assets/UIComponents/images/index/global justice summit.png" alt="attach image" class="col-6" />
          <h1>Sitemap</h1>
        </div>
        <div class="col-md-6">
          <img loading="eager" src="assets/UIComponents/images/contact-us/contact-info.gif" alt="attach image" class="col-12 col-lg-9" />
        </div>
      </div>
    </div>
  </section>

  <section class="partner p-lg-5  pt-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 mb-5">
          <div class="d-flex align-items-baseline">
            <div class="flex-shrink-0">
              <span class="count">1</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h2><a [routerLink]="['/home']">https://justice-love-peace.com</a></h2>
            </div>
          </div>
        </div>
        <div class="col-md-12 mb-5">
          <div class="d-flex align-items-baseline">
            <div class="flex-shrink-0">
              <span class="count">2</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h2><a [routerLink]="['/the-summit']">https://www.justice-love-peace.com/the-summit</a></h2>
            </div>
          </div>
        </div>
        <div class="col-md-12 mb-5">
          <div class="d-flex align-items-baseline">
            <div class="flex-shrink-0">
              <span class="count">3</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h2><a [routerLink]="['/partners']">https://www.justice-love-peace.com/partners</a></h2>
            </div>
          </div>
        </div>
        <div class="col-md-12 mb-5">
          <div class="d-flex align-items-baseline">
            <div class="flex-shrink-0">
              <span class="count">4</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h2><a [routerLink]="['/awards']">https://www.justice-love-peace.com/awards</a></h2>
            </div>
          </div>
        </div>
        <div class="col-md-12 mb-5">
          <div class="d-flex align-items-baseline">
            <div class="flex-shrink-0">
              <span class="count">5</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h2><a [routerLink]="['/world-peacekeepers-movement']">https://www.justice-love-peace.com/world-peacekeepers-movement</a></h2>
            </div>
          </div>
        </div>
        <div class="col-md-12 mb-5">
          <div class="d-flex align-items-baseline">
            <div class="flex-shrink-0">
              <span class="count">6</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h2><a [routerLink]="['/DownloadCenter']">https://www.justice-love-peace.com/DownloadCenter</a></h2>
            </div>
          </div>
        </div>
        <div class="col-md-12 mb-5">
          <div class="d-flex align-items-baseline">
            <div class="flex-shrink-0">
              <span class="count">7</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h2><a [routerLink]="['/chairman-corner']">https://www.justice-love-peace.com/chairman-corner</a></h2>
            </div>
          </div>
        </div>
        <div class="col-md-12 mb-5">
          <div class="d-flex align-items-baseline">
            <div class="flex-shrink-0">
              <span class="count">8</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h2><a [routerLink]="['/contact-us']">https://www.justice-love-peace.com/contact-us</a></h2>
            </div>
          </div>
        </div>
        <div class="col-md-12 mb-5">
          <div class="d-flex align-items-baseline">
            <div class="flex-shrink-0">
              <span class="count">9</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h2><a [routerLink]="['/delegate-registration']">https://www.justice-love-peace.com/delegate-registration</a></h2>
            </div>
          </div>
        </div>
        <div class="col-md-12 mb-5">
          <div class="d-flex align-items-baseline">
            <div class="flex-shrink-0">
              <span class="count">10</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h2><a [routerLink]="['/download-brochure']">https://www.justice-love-peace.com/download-brochure</a></h2>
            </div>
          </div>
        </div>
        <div class="col-md-12 mb-5">
          <div class="d-flex align-items-baseline">
            <div class="flex-shrink-0">
              <span class="count">11</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h2><a [routerLink]="['/accessibility']">https://www.justice-love-peace.com/accessibility</a></h2>
            </div>
          </div>
        </div>
        <div class="col-md-12 mb-5">
          <div class="d-flex align-items-baseline">
            <div class="flex-shrink-0">
              <span class="count">12</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h2><a [routerLink]="['/privacy-policy']">https://www.justice-love-peace.com/privacy-policy</a></h2>
            </div>
          </div>
        </div>
        <div class="col-md-12 mb-5">
          <div class="d-flex align-items-baseline">
            <div class="flex-shrink-0">
              <span class="count">13</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h2><a [routerLink]="['/cookie-policy']">https://www.justice-love-peace.com/cookie-policy</a></h2>
            </div>
          </div>
        </div>
        <div class="col-md-12 mb-5">
          <div class="d-flex align-items-baseline">
            <div class="flex-shrink-0">
              <span class="count">14</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h2><a [routerLink]="['/terms-of-use']">https://www.justice-love-peace.com/terms-of-use</a></h2>
            </div>
          </div>
        </div>
        <div class="col-md-12 mb-5">
          <div class="d-flex align-items-baseline">
            <div class="flex-shrink-0">
              <span class="count">15</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h2><a [routerLink]="['/visitor-terms-conditions']">https://www.justice-love-peace.com/visitor-terms-conditions</a></h2>
            </div>
          </div>
        </div>
        <div class="col-md-12 mb-5">
          <div class="d-flex align-items-baseline">
            <div class="flex-shrink-0">
              <span class="count">15</span>
            </div>
            <div class="flex-grow-1 ms-3">
              <h2><a [routerLink]="['/blog/human-values']">https://www.justice-love-peace.com/blog/human-values</a></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</main>
