<nav class="navbarDots">
  <ul>
    <li>
      <a [routerLink]="['/awards']" class="dot active" data-scroll="aw1">
        <span>Award Categories</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/awards']"
        fragment="aw2"
        class="dot"
        data-scroll="aw2"
      >
        <span>Nominees</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/awards']"
        fragment="aw3"
        class="dot"
        data-scroll="aw3"
      >
        <span>Awards Research Committee</span>
      </a>
    </li>
  </ul>
</nav>
<div class="index awards main-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 p-0">
        <section class="section section4 scroll" id="aw1">
          <div class="container-fluid h-100">
            <div class="row align-items-lg-center">
              <div class="col-md-12 mb-4">
                <h1>Global Justice, Love & Peace Champions</h1>
              </div>
              <div class="col-lg-2 col-md-12 text-center">
                <img
                  loading="eager"
                  src="assets/UIComponents/images/awards/28awards.png"
                  alt="attach image"
                  class="col-lg-12 col-md-6 col-6"
                />
              </div>
              <div class="col-lg-10 col-md-12 mt-5">
                <div class="row align-items-start justify-content-center">
                  <div class="col-md-4">
                    <div class="d-flex">
                      <div class="flex-shrink-0">
                        <img
                          loading="eager"
                          src="assets/UIComponents/images/Justice.svg"
                          alt="attach image"
                        />
                      </div>
                      <div class="flex-grow-1 ms-3">
                        <h6>JUSTICE Awards</h6>
                        <p class="text-start">7 Awards</p>
                      </div>
                    </div>

                    <ul>
                      <li>Champion Judge of Judges</li>
                      <li>Excellence in Human Rights Advocacy</li>
                      <li>Gender Equality Champion</li>
                      <li>World Woman-in-Law</li>
                      <li>Exceptional Public Service in Law</li>
                      <li>Outstanding Pro Bono Service in Law</li>
                      <li>Global Innovative Legal Practice</li>
                    </ul>
                  </div>
                  <div class="col-md-4 border-color">
                    <div class="d-flex">
                      <div class="flex-shrink-0">
                        <img
                          loading="eager"
                          src="assets/UIComponents/images/Love.svg"
                          alt="attach image"
                        />
                      </div>
                      <div class="flex-grow-1 ms-3">
                        <h6>LOVE Awards</h6>
                        <p class="text-start">7 Awards</p>
                      </div>
                    </div>
                    <ul>
                      <li>Love Thy Neighborhood Award</li>
                      <li>Love Thy Planet Award</li>
                      <li>World Animal Lover Award</li>
                      <li>World Disabilities Samaritan Award</li>
                      <li>Global Great Place to Work Champion</li>
                      <li>International Feeding-the-Poor Award</li>
                      <li>World’s Happiest Country Award</li>
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <div class="d-flex">
                      <div class="flex-shrink-0">
                        <img
                          loading="eager"
                          src="assets/UIComponents/images/Peace.svg"
                          alt="attach image"
                        />
                      </div>
                      <div class="flex-grow-1 ms-3">
                        <h6>PEACE Awards</h6>
                        <p class="text-start">7 Awards</p>
                      </div>
                    </div>

                    <ul>
                      <li>World Peace Organisation Award</li>
                      <li>Inter-faith Dialogue Champion</li>
                      <li>Global Traveller with a Purpose</li>
                      <li>Global Non Violence Award</li>
                      <li>Peace Tech Innovator Award</li>
                      <li>Livelihood Enhancer Award</li>
                      <li>Deep Forgiveness Award</li>
                    </ul>
                  </div>

                  <div class="col-md-12">
                    <h3 class="pt-3 border-top-blue">
                      LIFE-TIME ACHIEVEMENT Awards
                      <span class="ms-lg-5" style="color: #4a4a49"
                        >(7 Awards)</span
                      >
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section7 py-lg-5 scroll" id="aw2">
          <div class="container-fluid h-100">
            <div class="row">
              <div class="col-md-12 px-md-5">
                <h2>Nominees</h2>
                <div class="row">
                  <div class="col-md-6 mt-5">
                    <ul class="nomineeList">
                      <li>
                        <h6 class="col-md-6 m-0 text-white p-2">
                          <img
                            loading="eager"
                            src="assets/UIComponents/images/awards/justiceWhite.svg"
                            alt="justiceWhite"
                            class="me-2"
                          />Justice Awards
                        </h6>
                      </li>
                      <li>
                        <ul class="custom-list">
                          <li class="custom-list-head justiceLogo">
                            <p>Champion Judge of Judges</p>
                            <ul>
                              <li>
                                <span>Navanethem (Navi) Pillay - </span
                                >(Republic of South Africa)
                              </li>
                              <li>
                                <span>Rosalie Silberman Abella - </span>(CANaDA)
                              </li>
                              <li>
                                <span>Rosalyn C. Higgins (née Cohen) - </span
                                >(United Kingdom)
                              </li>
                              <li><span>Saïd Benarbia - </span>(Morocco)</li>
                            </ul>
                          </li>
                          <li class="custom-list-head justiceLogo">
                            <p>Excellence in Human Rights Advocacy</p>

                            <ul>
                              <li>
                                <span>Alfredo Romero Mendoza - </span
                                >(Bolivarian Republic of Venezuela)
                              </li>
                              <li><span>Mariana Mota - </span>(Uruguay)</li>
                              <li>
                                <span>Mónica Feria Tinta - </span>(United
                                Kingdom)
                              </li>
                              <li>
                                <span
                                  >Tawakkol Abdel-Salam Khalid Karman - </span
                                >(Yemen)
                              </li>
                            </ul>
                          </li>
                          <li class="custom-list-head justiceLogo">
                            <p>Exceptional Public Service in Law</p>

                            <ul>
                              <li><span>Bryan Stevenson - </span>(USA)</li>
                              <li>
                                <span>Dikgang Ernest Moseneke - </span>(South
                                Africa)
                              </li>
                              <li>
                                <span>Karim Asad Ahmad Khan  - </span>(United
                                Kingdom)
                              </li>
                              <li><span>Louise Arbour - </span>(Canada)</li>
                            </ul>
                          </li>
                          <li class="custom-list-head justiceLogo">
                            <p>Gender Equality Champion</p>

                            <ul>
                              <li>
                                <span
                                  >Amal Abdullah Juma Karam Al Qubaisi - </span
                                >(UAE)
                              </li>
                              <li>
                                <span>Chimamanda Ngozi Adichie - </span
                                >(Nigeria)
                              </li>
                              <li>
                                <span>Rania Abdel-Moneim Al-Mashat - </span
                                >(Egypt)
                              </li>
                              <li>
                                <span
                                  >Reema bint Bandar bin Sultan bin Abdulaziz Al
                                  Saud - </span
                                >(Saudi Arabia)
                              </li>
                            </ul>
                          </li>
                          <li class="custom-list-head justiceLogo">
                            <p>Global Innovative Legal Practice</p>

                            <ul>
                              <li><span>Joseph Andrew - </span>(USA)</li>
                              <li>
                                <span>Martha Karambu Koome - </span>(Kenya)
                              </li>
                              <li>
                                <span>Miriam González Durántez - </span>(Spain)
                              </li>
                              <li>
                                <span>Richard Eric Susskind - </span>(United
                                Kingdom)
                              </li>
                            </ul>
                          </li>
                          <li class="custom-list-head justiceLogo">
                            <p>Outstanding Pro Bono Service in Law</p>

                            <ul>
                              <li>
                                <span>Claudia Paz y Paz Bailey - </span
                                >(Guatemala)
                              </li>
                              <li>
                                <span>Harriet Katherine Wistrich - </span
                                >(United Kingdom)
                              </li>
                              <li><span>Jody Williams - </span>(USA)</li>
                              <li>
                                <span>Ngozi Okonjo-Iweala - </span>(Nigeria)
                              </li>
                            </ul>
                          </li>
                          <li class="custom-list-head justiceLogo">
                            <p>World Woman-in-Law</p>

                            <ul>
                              <li>
                                <span>Fatou Bom Bensouda - </span>(The Gambia)
                              </li>
                              <li><span>Indira Jaising - </span>(India)</li>
                              <li><span>Sonia Sotomayor - </span>(USA)</li>
                              <li><span>Vrinda Grover - </span>(INDIA)</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-6 mt-5">
                    <ul class="nomineeList">
                      <li>
                        <h6 class="col-md-6 m-0 text-white p-2">
                          <img
                            loading="eager"
                            src="assets/UIComponents/images/awards/loveWhite.svg"
                            alt="justiceWhite"
                            class="me-2"
                          />Love Awards
                        </h6>
                      </li>
                      <li>
                        <ul class="custom-list">
                          <li class="custom-list-head loveLogo">
                            <p>Global Great Place to Work Champion</p>
                            <ul>
                              <li><span>Accenture - </span>(Ireland)</li>
                              <li><span>DHL Express - </span>(Germany)</li>
                              <li><span>Hilti Corporation - </span>(Liechtenstein)</li>
                              <li>
                                <span>Hilton Worldwide Holdings Inc - </span
                                >(United States of America)
                              </li>
                            </ul>
                          </li>
                          <li class="custom-list-head loveLogo">
                            <p>International Feeding-the-Poor</p>

                            <ul>
                              <li>
                                <span
                                  >Anthony Onyemaechi Elumelu - </span
                                >(Nigeria)
                              </li>
                              <li><span>David Wright Miliband - </span>(United Kingdom)</li>
                              <li><span>Jane Karuku - </span>(Republic of Kenya)</li>
                              <li>
                                <span>José Ramón Andrés Puerta - </span>(USA /
                                Spain)
                              </li>
                            </ul>
                          </li>
                          <li class="custom-list-head loveLogo">
                            <p>Love Thy Neighbourhood Award</p>

                            <ul>
                              <li>
                                <span>Amina Jane Mohammed - </span>(Nigeria)
                              </li>
                              <li>
                                <span>Jacinda Kate Laurell Ardern - </span>(New Zealand)
                              </li>
                              <li>
                                <span>Maggie Doyne - </span>(United States of America)
                              </li>
                              <li>
                                <span>Vandana Shiva - </span>(India)
                              </li>
                            </ul>
                          </li>
                          <li class="custom-list-head loveLogo">
                            <p>Love Thy Planet Award</p>

                            <ul>
                              <li><span>Albert Arnold Gore Jr. - </span>(United States of America)</li>
                              <li><span>Boyan Slat  - </span>(The Netherlands)</li>
                              <li>
                                <span>Karen Christiana Figueres Olsen - </span
                                >(Republic of Costa Rica)
                              </li>
                              <li>
                                <span>Severn Cullis-Suzuki - </span>(Canada)
                              </li>
                            </ul>
                          </li>
                          <li class="custom-list-head loveLogo">
                            <p>The World Animal Lover Award</p>
                            <ul>
                              <li><span>Biruté Marija Filomena Galdikas - </span>(Canada)</li>
                              <li><span>Kevin Rene Richardson - </span>(South Africa)</li>
                              <li><span>Sylvia Alice Earle - </span>(USA)</li>
                              <li><span>Valerie Jane Morris-Goodall - </span>(United Kingdom)</li>
                            </ul>
                          </li>
                          <li class="custom-list-head loveLogo">
                            <p>World Disabilities Samaritan Award</p>

                            <ul>
                              <li><span>Caroline Casey - </span>(Ireland)</li>
                              <li><span>Dean Lawrence Kamen  - </span>(USA)</li>
                              <li><span>Edward Ndopu  - </span>(South Africa)</li>
                              <li><span>Nicholas James Vujicic  - </span>(Australia and USA)</li>
                            </ul>
                          </li>
                          <li class="custom-list-head loveLogo">
                            <p>World’s Happiest Country Award</p>

                            <ul>
                              <li><span>Cai-Göran Alexander Stubb - </span>(Finland)</li>
                              <li><span>Halla Tómasdóttir - </span>(Iceland)</li>
                              <li><span>Jigme Khesar Namgyel Wangchuck - </span>(Bhutan)</li>
                              <li><span>Mette Frederiksen - </span>(Denmark)</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-6 mt-5">
                    <ul class="nomineeList">
                      <li>
                        <h6 class="col-md-6 m-0 text-white p-2">
                          <img
                            loading="eager"
                            src="assets/UIComponents/images/awards/peaceWhite.svg"
                            alt="justiceWhite"
                            class="me-2"
                          />Peace Awards
                        </h6>
                      </li>
                      <li>
                        <ul class="custom-list">
                          <li class="custom-list-head peaceLogo">
                            <p>Deep Forgiveness Award</p>
                            <ul>
                              <li><span>Denis Mukengere Mukwege - </span>(DRC)</li>
                              <li>
                                <span>Ellen Johnson Sirleaf - </span>(Republic of Liberia)
                              </li>
                              <li>
                                <span>Immaculée Ilibagiza - </span>(USA)
                              </li>
                              <li>
                                <span>Ingrid Mattson- </span>(Canada)
                              </li>
                            </ul>
                          </li>
                          <li class="custom-list-head peaceLogo">
                            <p>Global Non Violence Award</p>

                            <ul>
                              <li>
                                <span>Ela Gandhi - </span>(South
                                Africa)
                              </li>
                              <li><span>Jody Williams - </span>(USA)</li>
                              <li>
                                <span
                                  >Priscilla Mary - </span
                                >(United Kingdom)
                              </li>
                              <li><span>Sviatlana Heorhiyeuna Tsikhanouskaya - </span>(Belarus)</li>
                            </ul>
                          </li>
                          <li class="custom-list-head peaceLogo">
                            <p>Global Traveller with a Purpose</p>

                            <ul>
                              <li><span>Gunnar Garfors - </span>(Norway)</li>
                              <li>
                                <span>Levison James Wood - </span>(United
                                Kingdom)
                              </li>
                              <li>
                                <span>Mariana van Zeller - </span>(Portugal)
                              </li>
                              <li>
                                <span>Paul Nicklen - </span>(Canada)
                              </li>
                            </ul>
                          </li>
                          <li class="custom-list-head peaceLogo">
                            <p>Inter-faith Dialogue Champion</p>

                            <ul>
                              <li>
                                <span>Blase Joseph Cupich - </span>(USA)
                              </li>
                              <li>
                                <span>Feisal Abdul Rauf - </span>(USA / Egypt)
                              </li>
                              <li>
                                <span>Karen Armstrong - </span>(United Kingdom)
                              </li>
                              <li>
                                <span>Rajiv Malhotra - </span>(USA / India)
                              </li>
                            </ul>
                          </li>
                          <li class="custom-list-head peaceLogo">
                            <p>The Livelihood Enhancer Award</p>

                            <ul>
                              <li><span>Andrew Youn  - </span>(USA / Kenya)</li>
                              <li>
                                <span>Jim Yong Kim - </span>(USA / South
                                Korea)
                              </li>
                              <li><span>Roya Mahboob - </span>(Islamic Republic of Afghanistan)</li>
                              <li><span>Sanjit Bunker Roy - </span>(India)</li>
                            </ul>
                          </li>
                          <li class="custom-list-head peaceLogo">
                            <p>The Peace Tech Innovator Award</p>

                            <ul>
                              <li>
                                <span>Emmanuel Letouzé - </span
                                >(France)
                              </li>
                              <li>
                                <span>Joy Adowaa Buolamwini  - </span
                                >(USA/Ghana)
                              </li>
                              <li>
                                <span>Obiageli Katryn Ezekwesili  - </span>(Federal Republic of Nigeria)
                              </li>
                              <li>
                                <span>Timnit Gebru  - </span>(Ethiopia)
                              </li>
                            </ul>
                          </li>
                          <li class="custom-list-head peaceLogo">
                            <p>World Peace Organisation Award</p>

                            <ul>
                              <li><span>Alfredo Juan Sfeir Younis - </span>(Chile)</li>
                              <li><span>Gunter Pauli - </span>(Belgium)</li>
                              <li>
                                <span>Juan Manuel Santos Calderón - </span>(Colombia)
                              </li>
                              <li><span>Markandey Rai - </span>(Republic of India)</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-6 mt-5">
                    <ul class="nomineeList">
                      <li>
                        <h6 class="col-md-6 m-0 text-white p-2">
                          <img
                            loading="eager"
                            src="assets/UIComponents/images/awards/lifetime.svg"
                            alt="justiceWhite"
                            class="me-2"
                          />
                          LIFE-TIME ACHIEVEMENT Awards
                        </h6>
                      </li>
                      <li>
                        <ul class="custom-list">
                          <li class="custom-list-head lifetime">
                            <p>
                              Justice
                            </p>
                            <ul>
                              <li><span>Graça Simbine Machel - </span>(Mozambique)</li>
                              <li>
                                <span>Íngrid Betancourt Pulecio - </span>(Colombia)
                              </li>
                              <li>
                                <span>Jean-Claude Juncker - </span>(Luxembourg)
                              </li>
                              <li>
                                <span>Lubna bint Khalid bin Sultan Al Qasimi - </span>(United Arab Emirates)
                              </li>
                              <li>
                                <span>Pramila Patten - </span>(Mauritius)
                              </li>
                              <li>
                                <span>Rigoberta Menchú Tum - </span>(Guatemala)
                              </li>
                              <li>
                                <span>Sima Samar - </span>(Afghanistan)
                              </li>
                            </ul>
                          </li>
                          <li class="custom-list-head lifetime">
                            <p>
                              Love
                            </p>
                            <ul>
                              <li><span>Al-Waleed bin Talal bin Abdulaziz Al Saud - </span>(Saudi Arabia)</li>
                              <li>
                                <span>David Frederick Attenborough - </span>(United Kingdom)
                              </li>
                              <li>
                                <span>Ismail Serageldin - </span>(Egypt)
                              </li>
                              <li>
                                <span>Joan Carling - </span>(Philippines)
                              </li>
                              <li>
                                <span>José Alberto Mujica Cordano - </span>(Uruguay)
                              </li>
                              <li>
                                <span>Mario Vargas Llosa - </span>(Peru)
                              </li>
                              <li>
                                <span>Mohamed Mustafa ElBaradei - </span>(Egypt)
                              </li>
                              <li>
                                <span>Temple Grandin - </span>(USA)
                              </li>
                            </ul>
                          </li>
                          <li class="custom-list-head lifetime">
                            <p>
                              Peace
                            </p>
                            <ul>
                              <li><span>Akinwumi Ayodeji Adesina - </span>(Nigeria)</li>
                              <li>
                                <span>Akira Yoshino - </span>(Japan)
                              </li>
                              <li>
                                <span>Alice Louise Waters - </span>(USA)
                              </li>
                              <li>
                                <span>Anthony Stephen Fauci - </span>(USA)
                              </li>
                              <li>
                                <span>LeBron Raymone James Sr - </span>(USA)
                              </li>
                              <li>
                                <span>Mariya Ivanova Gabriel (née Nedelcheva) - </span>(Bulgaria)
                              </li>
                              <li>
                                <span>Mohammed Fathi Ahmed Ibrahim - </span>(United Kingdom)
                              </li>
                              <li>
                                <span>Strive Masiyiwa - </span>(Zimbabwe)
                              </li>
                              <li>
                                <span>Timothy John Berners-Lee - </span>(United Kingdom)
                              </li>
                            </ul>
                          </li>
                          <li class="custom-list-head lifetime">
                            <p>Over All</p>
                            <ul>
                              <li><span>Annabel Mehta - </span>(United Kingdom)</li>
                              <li><span>Claudio Mauricio Grossman Guiloff - </span>(Chile)</li>
                              <li><span>Paul David Hewson (Bono) - </span>(Ireland)</li>
                              <li><span>Sara Treleaven Blakely - </span>(USA)</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section
          class="section section7 p-lg-5 position-relative scroll"
          id="aw3"
        >
          <div class="container" style="position: relative; z-index: 1">
            <div class="row align-items-center justify-content-center">
              <div class="col-md-12">
                <h2>Awards Research Committee</h2>
                <p class="my-3">
                  All 28 Awards are conferred through a non-biased & meritorious
                  process by a 28-membered Awards Research Committee. These
                  Researchers are across all continents and located in 28
                  countries and are ably qualified to conduct this process
                </p>
                <p class="mb-5">
                  All nominees identify had made a ‘significant’ impact – but
                  could be in any profession – Corporate employee, Entrepreneur,
                  Entertainer, Sportsperson, Lawyer, Investor, Wealth Manager,
                  Community Worker, Activist, Politician, Bureaucrat, Educator,
                  Journalist, Publisher, Health-care Professional, Technocrat,
                  anybody!
                </p>
              </div>

              <div class="col-lg-9">
                <div class="card">
                  <div class="card-body">
                    <h3>
                      Each Awardee has finally been selected based on the
                      following criteria:
                    </h3>
                    <ul class="mt-5 mb-0">
                      <li>
                        <h5 class="d-flex align-items-center">
                          <span class="count me-3">1</span><b>Scale</b>
                        </h5>
                      </li>
                      <li>
                        <h5 class="d-flex align-items-center">
                          <span class="count me-3">2</span><b>Impact</b>
                        </h5>
                      </li>
                      <li>
                        <h5 class="d-flex align-items-center">
                          <span class="count me-3">3</span><b>Longevity</b>
                        </h5>
                      </li>
                      <li>
                        <h5 class="d-flex align-items-center">
                          <span class="count me-3">4</span><b>Innovation</b>
                        </h5>
                      </li>
                    </ul>
                    <ul class="mt-lg-5">
                      <li>
                        <h5 class="d-flex align-items-center">
                          <span class="count me-3">5</span><b>Sustainability</b>
                        </h5>
                      </li>
                      <li>
                        <h5 class="d-flex align-items-center">
                          <span class="count me-3">6</span><b>Integrity</b>
                        </h5>
                      </li>
                      <li>
                        <h5 class="d-flex align-items-center">
                          <span class="count me-3">7</span><b>Courage</b>
                        </h5>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <p class="lastP mt-4">
                  The Global Justice, Love & Peace Summit is committed to the
                  highest level of integrity in the conduct of its Awards
                  Programmes. <br />
                  No financial consideration has been attached to any Award.
                </p>
              </div>
            </div>
          </div>
          <img
            loading="eager"
            src="assets/UIComponents/images/watermark.png"
            alt="attach image"
            class="position-absolute"
            style="left: 0; bottom: 0; width: 20rem"
            *ngIf="!isMobileView"
          />
          <img
            loading="eager"
            src="assets/UIComponents/images/watermark.png"
            alt="attach image"
            class="position-absolute"
            style="left: 0; bottom: 0; width: 10rem"
            *ngIf="isMobileView"
          />
        </section>
      </div>
    </div>
  </div>
</div>
