<section class="section5 p-md-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-media-header></app-media-header>
      </div>
      <div class="col-md-12">
        <h1>News paper</h1>

        <div class="card">
          <div class="card-body">
            <div
              id="carouselExampleSlidesOnly"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-bs-target="#carouselExampleSlidesOnly"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleSlidesOnly"
                  data-bs-slide-to="1"
                  aria-label="Slide 2"
                ></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col-md-4">
                      <img
                        src="assets/UIComponents/images/media/newspaper1.webp"
                        class="img-fluid w-100"
                        alt="..."
                        style="height: 40vh;"
                      />
                    </div>
                    <div class="col-md-8">
                      <h2>
                        The summit will also honour 28 individuals and
                        organisations for their contributions to equality and
                        compassion
                      </h2>
                      <article>
                        <p>
                          In April, Dubai will welcome
                          <span>11 Nobel Peace laureates, </span>
                          heads of state, sports champions, film personalities,
                          chief justices, and over 2,800 peacekeepers for the
                          world's largest summit on justice, love, and peace.
                        </p>
                      </article>
                      <article>
                        <p>
                          Among the distinguished Nobel Peace laureates
                          attending the summit are Abdesattar Ben Mousa, Houcine
                          Abbasi, Lech Walesa, Leymah Gbowee, Mohamed Fadhel
                          Mahfoudh, Mohan Mubasinghe, Nadia Murad, Quided
                          Bouchamaoui, Oscar Arias Sanchez, Sie-A-Nyene Gyapay
                          Yuoh and Dr Shirin Ebadi.
                        </p>
                      </article>
                      <article>
                        <p>
                          The inaugural edition of the Global Justice, Love and
                          Peace Summit will be held on April 12-13 at the Dubai
                          Exhibition Centre, Expo City, under the theme of 'One
                          Planet, One Voice: Global Justice, Love and Peace'.
                        </p>
                      </article>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-md-4">
                      <img
                        src="assets/UIComponents/images/media/newspaper3.webp"
                        class="img-fluid w-100"
                        alt="..."
                        style="height: 40vh;"
                      />
                    </div>
                    <div class="col-md-8">
                      <article>
                        <p>
                          <span>Huzaifa Khorakiwala, chairman of the I am Peacekeeper Movement </span>
                          and organiser of the summit, highlighted the UAE's policies on
                          tolerance and happiness as key factors in selecting the country
                          as the host for the event.
                        </p>
                      </article>
                      <article>
                        <p>
                          “Our goal is to bring together global visionaries on a common
                          platform to cultivate a world driven by justice, love and peace…
                          This summit will unite global influencers and leaders with the
                          shared mission of fostering universal harmony,” he added.
                          Huzaifa Khorakiwala and Sheikh Awad Mohamed bin Sheikh Mujre at
                          the announcement of the inaugural edition of the Global Justice,
                          Love and Peace Summit.
                        </p>
                      </article>
                      <article>
                        <p>
                          Photo: Supplied The summit will also feature the Global
                          Recognitions and Awards, honouring 28 individuals and
                          organisations for their contributions to justice, equality,
                          compassion and peace.
                        </p>
                      </article>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 mt-5">
        <div class="row">
          <div class="col-md-6">
            <article>
              <p>
                <span>Huzaifa Khorakiwala, chairman of the I am Peacekeeper Movement </span>
                and organiser of the summit, highlighted the UAE's policies on
                tolerance and happiness as key factors in selecting the country
                as the host for the event.
              </p>
            </article>
            <article>
              <p>
                “Our goal is to bring together global visionaries on a common
                platform to cultivate a world driven by justice, love and peace…
                This summit will unite global influencers and leaders with the
                shared mission of fostering universal harmony,” he added.
                Huzaifa Khorakiwala and Sheikh Awad Mohamed bin Sheikh Mujre at
                the announcement of the inaugural edition of the Global Justice,
                Love and Peace Summit.
              </p>
            </article>
            <article>
              <p>
                Photo: Supplied The summit will also feature the Global
                Recognitions and Awards, honouring 28 individuals and
                organisations for their contributions to justice, equality,
                compassion and peace.
              </p>
            </article>
          </div>
          <div class="col-md-6">
            <img
              src="assets/UIComponents/images/media/newspaper2.webp"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-4">
            <img
              src="assets/UIComponents/images/media/newspaper3.webp"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <article>
              <p>
                <span>Huzaifa Khorakiwala, chairman of the I am Peacekeeper Movement </span>
                and organiser of the summit, highlighted the UAE's policies on
                tolerance and happiness as key factors in selecting the country
                as the host for the event.
              </p>
            </article>
            <article>
              <p>
                “Our goal is to bring together global visionaries on a common
                platform to cultivate a world driven by justice, love and peace…
                This summit will unite global influencers and leaders with the
                shared mission of fostering universal harmony,” he added.
                Huzaifa Khorakiwala and Sheikh Awad Mohamed bin Sheikh Mujre at
                the announcement of the inaugural edition of the Global Justice,
                Love and Peace Summit.
              </p>
            </article>
            <article>
              <p>
                Photo: Supplied The summit will also feature the Global
                Recognitions and Awards, honouring 28 individuals and
                organisations for their contributions to justice, equality,
                compassion and peace.
              </p>
            </article>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
