<nav class="nav justify-content-center justify-content-md-start" id="media-header">
  <a
    class="nav-link"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    aria-current="page"
    [routerLink]="['/media/videos']"
    >Video</a
  >
  <a
    class="nav-link"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    [routerLink]="['/media/photos']"
    >Photo</a
  >
  <!-- <a
    class="nav-link"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    [routerLink]="['/media/articles']"
    >Articles</a
  > -->
  <a
    class="nav-link"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    [routerLink]="['/media/news-paper']"
    >News Paper</a
  >
</nav>
