<main class="index footerLinks">
  <section class="f1 p-lg-5">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-6 text-center">
          <img loading="eager" src="assets/UIComponents/images/index/global justice summit.png" alt="attach image" class="col-6" />
          <h1>TERMS OF USE</h1>
        </div>
        <div class="col-md-6">
          <img loading="eager" src="assets/UIComponents/images/contact-us/contact-info.gif" alt="attach image" class="col-12 col-lg-9" />
        </div>
      </div>
    </div>
  </section>
    <section class="section7 p-lg-5 pt-5">
      <div class="row">
        <div class="col-md-12">
          <h3>
            <span class="count me-2" style="display: inline-flex
;">1</span>
           <b style="color: #008A38;">Terms of Use</b>
          </h3>
          <ul style="list-style-type: none"> <li>
            <h3>  <b>Introduction:</b></h3>
           <p>These Terms of Use govern access to justice-love-peace.com and participation in events hosted by Jupiter Events LLC. By continuing to use this website or attending our events, you accept these terms.</p>
          </li>
          <li>
            <h3><b>General Use:</b></h3>
        <h4><ol>
            <li>
                <p  class="m-0" ><b>User Obligations:</b> </p>
                <ul>
                    <li><p  class="m-0">Users must not engage in illegal, abusive, or fraudulent activities through the website.</p></li>
                    <li><p>Users are responsible for providing accurate and truthful information during registration or interaction with the website.</p></li>
                </ul>
            </li>
            <li>
                <p  class="m-0" ><b>Website Content:</b> </p>
                <ul>
                    <li><p class="m-0"> All content, including text, graphics, and software, is protected by copyright and intellectual property laws.</p></li>
                    <li><p>Users may not reproduce, distribute, or modify website content without prior written consent.</p></li>
                </ul>
            </li>
           
          
        </ol></h4> 
          </li>
          <li>
            <h3><b>Liability and Disclaimers:</b></h3>
        <h4><ol>
          
                    <li><p  class="m-0"><b>Service Interruptions:</b><br>
                        We are not liable for technical issues, outages, or delays caused by external factors.</p></li>
                    <li><p><b>No Warranties:</b><br>
                        The website is provided “as is,” without guarantees of accuracy, reliability, or fitness for a particular purpose.</p></li>
               
           
           
          
        </ol></h4> 
          </li>
          <li>
            <h3><b>Additional Clauses:</b></h3>
        <h4><ol>
          
                    <li><p  class="m-0"><b>Privacy Compliance:</b><br>
                        By using the website, users agree to the terms of our Privacy Policy, including the collection and processing of personal
                        data</p></li>
                    <li><p><b>Termination of Use:</b><br>
                        We reserve the right to terminate user accounts for violations of these terms or illegal activities.</p></li>
               
           
           
          
        </ol></h4> 
          </li>
       </ul>
     
        </div>
      
      </div>
    </section>

</main>