<div class="section section5" id="cc1">
  <div class="container-fluid">
    <div class="row justify-content-center h-100">
      <div class="col-lg-5 rounded-0 p-0">
        <div class="card h-100 btn-success rounded-0">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12 text-center">
                <img
                  src="assets/UIComponents/images/chairman_2.webp"
                  alt=""
                  class="img-fluid col-4 mx-auto"
                />
              </div>
              <div class="col-lg-12 mx-auto">
                <div class="chairmanCenter">
                  <h2 class="my-2">Dr. Huzaifa Khorakiwala</h2>
                  <p style="margin-bottom: 0">
                    Email:
                    <a
                      href="mailto:email@dr-huzaifa-khorakiwala.care"
                      style="color: #005a93; text-decoration: none"
                      >email&#64;dr-huzaifa-khorakiwala.care</a
                    >
                  </p>
                  <p style="margin-bottom: 0">
                    Web:
                    <a
                      href="https://www.dr-huzaifa-khorakiwala.care"
                      target="_blank"
                      rel="noopener noreferrer"
                      style="color: #005a93; text-decoration: none"
                      >www.dr-huzaifa-khorakiwala.care</a
                    >
                  </p>
                  <p style="margin-bottom: 0">
                    Savanna, Executive Assistant:
                    <a
                      href="tel:+919833271370"
                      style="color: #005a93; text-decoration: none"
                      >+919833271370</a
                    >
                  </p>
                </div>
              </div>
              <div class="col-lg-12 mt-3">
                <div class="card card-chairman">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 p-0">
                        <ul class="chairman">
                          <li>
                            <img
                              loading="eager"
                              src="assets/UIComponents/images/the_summit/Wockhardt.png"
                              alt="attach image"
                            />
                          </li>
                          <li>Executive Director</li>
                          <li>Wockhardt</li>
                          <li>
                            (
                            <a
                              href="https://www.wockhardt.com/"
                              target="_blank"
                              rel="noopener noreferrer"
                              >www.wockhardt.com</a
                            >
                            )
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-4 col-md-4 p-0">
                        <ul class="chairman">
                          <li>
                            <img
                              loading="eager"
                              src="assets/UIComponents/images/the_summit/global.png"
                              alt="attach image"
                              class="chairmanImg"
                            />
                          </li>
                          <li>Chairman</li>
                          <li>Global Justice, Love&PeaceSummit</li>
                          <li>
                            (<a
                              href="http://www.justice-love-peace.com/home"
                              target="_blank"
                              rel="noopener noreferrer"
                              >www.justice-love-peace.com</a
                            >
                            )
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-4 col-md-4 p-0">
                        <ul class="chairman">
                          <li>
                            <img
                              loading="eager"
                              src="assets/UIComponents/images/the_summit/Wockhardt.png"
                              alt="attach image"
                            />
                          </li>
                          <li>CEO</li>
                          <li>Wockhardt Foundation</li>
                          <li>
                            (
                            <a
                              href="https://www.wockhardtfoundation.org/"
                              target="_blank"
                              rel="noopener noreferrer"
                              >www.wockhardtfoundation.org</a
                            >
                            )
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-4 col-md-4 p-0">
                        <ul class="chairman">
                          <li>
                            <img
                              loading="eager"
                              src="assets/UIComponents/images/the_summit/mushtaree.png"
                              alt="attach image"
                              class="chairmanImg"
                            />
                          </li>
                          <li>Chairman</li>
                          <li>Mushtaree Technologies</li>
                          <li>
                            (
                            <a
                              href="https://www.my-eyezzy.com/"
                              target="_blank"
                              rel="noopener noreferrer"
                              >https://www.my-eyezzy.com/</a
                            >
                            )
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-4 col-md-4 p-0">
                        <ul class="chairman">
                          <li>
                            <img
                              loading="eager"
                              src="assets/UIComponents/images/the_summit/worldPeacekeepers.png"
                              alt="attach image"
                              class="chairmanImg"
                            />
                          </li>
                          <li>Founder</li>
                          <li>TheWorldPeacekeepers Movement</li>
                          <li>
                            (
                            <a
                              href="https://www.facebook.com/WorldPeacekeepersMovement"
                              target="_blank"
                              rel="noopener noreferrer"
                              >https://www.facebook.com/<br />WorldPeacekeepersMovement</a
                            >
                            )
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-4 col-md-4 p-0">
                        <ul class="chairman">
                          <li>
                            <img
                              loading="eager"
                              src="assets/UIComponents/images/the_summit/bahram.png"
                              alt="attach image"
                            />
                          </li>
                          <li>Chairman</li>
                          <li>Bahram Technologies & Services</li>
                          <li>
                            (
                            <a
                              href="https://www.bahramtechnologies.com/"
                              target="_blank"
                              rel="noopener noreferrer"
                              >www.bahramtechnologies.com</a
                            >
                            )
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7 px-lg-2">
        <h1><span>About</span> Dr. Huzaifa Khorakiwala</h1>
        <p>
          An MBA from Yale University, USA, Dr. Huzaifa Khorakiwala is the
          Executive Director of Wockhardt Limited and is part of the promoter
          family of the Wockhardt Group - a global pharmaceutical and
          biotechnology enterprise. The Wockhardt Group is India’s
          research-based global healthcare enterprise with relevance in the
          fields of Pharmaceuticals, Biotechnology, and a chain of advanced
          Super Speciality Hospitals. It has 3 research centres and 7
          manufacturing plants, with businesses ranging from the manufacture and
          marketing of Pharmaceutical and Bio-pharmaceutical formulations,
          Active Pharmaceutical Ingredients (APIs), and Vaccines.
          <a
            href="https://www.wockhardt.com/"
            target="_blank"
            rel="noopener noreferrer"
            style="color: #005a93; text-decoration: none"
            >(www.wockhardt.com)</a
          >
        </p>

        <p>
          Dr. Khorakiwala is also the CEO of Wockhardt Foundation, a
          not-for-profit organization which runs several social service and
          human welfare programmes in health, education, water, and sanitation
          across the country, benefitting & touching millions of lives every
          year. The mission of Wockhardt Foundation is to work for the
          upliftment of the poor, weak, and needy. The organization is governed
          by a simple philosophy – “where every smile counts”.
          <a
            href="https://www.wockhardtfoundation.org/"
            target="_blank"
            rel="noopener noreferrer"
            style="color: #005a93; text-decoration: none"
            >(www.wockhardtfoundation.org)</a
          >
        </p>
        <p>
          Wockhardt Foundation’s flagship healthcare initiative,
          <b>Mobile 1000</b>, provides doorstep delivery of free primary
          healthcare to people living in the remotest and rural parts of India.
          During the last financial year (2023-24), over 2.6 million patients
          benefitted from the 174 vans that were operating in 18 Indian states
          and 1 union territory, covering 2389 villages across India.
        </p>
        <p>
          Dr. Khorakiwala is the Founder of
          <b>“The World Peacekeepers Movement”</b>, an online movement
          comprising more than 2 million peacekeepers.
        </p>
        <p>
          It is based on the 7 Peace Values of gratitude, forgiveness, love,
          humility, giving, patience, and truth.
        </p>
        <p>
          Dr. Huzaifa Khorakiwala is Chairman,
          <b>Global Justice, Love & Peace Summit</b>, to be held in Dubai on
          12th - 13th April, 2025.
          <a
            href="https://www.justice-love-peace.com"
            target="_blank"
            rel="noopener noreferrer"
            style="color: #005a93; text-decoration: none"
            >(www.justice-love-peace.com)</a
          >
        </p>
        <p>
          Dr. Khorakiwala is Chairman of
          <b>Bahram Technologies & Services</b>, a company involved in Mining &
          Solar Power.
          <a
            href="https://www.bahramtechnologies.com"
            target="_blank"
            rel="noopener noreferrer"
            style="color: #005a93; text-decoration: none"
            >(www.bahramtechnologies.com)</a
          >
        </p>
        <p>
          He is also Chairman of <b>Mushtaree Technologies</b>, a digital health
          company.
        </p>
        <p>
          For his contribution to society, he has received many prestigious
          awards (90 so far) & titles, including a Knighthood – which was
          bestowed on him by the Ecumenical Medical-Humanitarian Order Knights
          of St. John of Jerusalem (Knights of Charity). He is also the
          recipient of 15 Honorary Doctorates and 2 D.Litts.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="section section7 p-lg-5 vms" id="cc2">
  <div class="container-fluid h-100">
    <div class="row justify-content-evenly h-100">
      <div class="col-lg-12 text-center">
        <img
          loading="eager"
          src="assets/UIComponents/images/chairman-corner/videos.svg"
          alt="attach image"
        />
        <div
          id="carouselExampleAutoplaying"
          class="carousel slide"
          data-bs-ride="carousel"
          *ngIf="!isMobileView"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-4">
                  <iframe
                    width="100%"
                    height="250px"
                    src="https://www.youtube.com/embed/k_NAr0TWP0k"
                    title="*New Year Message @ by Dr. Huzaifa Khorakiwala*"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </div>
                <div class="col-md-4">
                  <iframe
                    width="100%"
                    height="250px"
                    src="https://www.youtube.com/embed/zeYqmAQUh6c"
                    title="7 VALUES, BELIEFS &amp; MISSION OF ‘ I AM PEACEKEEPER ‘ MOVEMENT"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </div>
                <div class="col-md-4">
                  <iframe
                    width="100%"
                    height="250px"
                    src="https://www.youtube.com/embed/JhwHtYtQYWg"
                    title="5th Human Value : Giving"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-4">
                  <iframe
                    width="100%"
                    height="250px"
                    src="https://www.youtube.com/embed/F5URoQT7dWc"
                    title="6th Human Value : Patience"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </div>
                <div class="col-md-4">
                  <iframe width="100%" height="250px" src="https://www.youtube.com/embed/TAuIwS3fSZ8" title="7th Human Value : Happy Truth Day" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
            </div>
            
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div
          id="carouselExampleAutoplaying"
          class="carousel slide"
          data-bs-ride="carousel"
          *ngIf="isMobileView"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-12">
                  <iframe
                    width="100%"
                    height="250px"
                    src="https://www.youtube.com/embed/k_NAr0TWP0k"
                    title="*New Year Message @ by Dr. Huzaifa Khorakiwala*"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-12">
                  <iframe
                    width="100%"
                    height="250px"
                    src="https://www.youtube.com/embed/zeYqmAQUh6c"
                    title="7 VALUES, BELIEFS &amp; MISSION OF ‘ I AM PEACEKEEPER ‘ MOVEMENT"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-12">
                  <iframe
                    width="100%"
                    height="250px"
                    src="https://www.youtube.com/embed/JhwHtYtQYWg"
                    title="5th Human Value : Giving"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-12">
                  <iframe
                    width="100%"
                    height="250px"
                    src="https://www.youtube.com/embed/F5URoQT7dWc"
                    title="6th Human Value : Patience"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                  ></iframe>
                </div>
                
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-12">
                  <iframe width="100%" height="250px" src="https://www.youtube.com/embed/TAuIwS3fSZ8" title="7th Human Value : Happy Truth Day" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
            </div>
            
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-lg-12 text-center mt-4">
        <img
          loading="lazy"
          src="assets/UIComponents/images/chairman-corner/songs.svg"
          alt="attach image"
        />
        <div
          id="carouselExampleAutoplaying"
          class="carousel slide"
          data-bs-ride="carousel"
          *ngIf="!isMobileView"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-4">
                  <iframe width="100%" height="250px" src="https://www.youtube.com/embed/O7G3KQJ7MoE" title="Thank You Song" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="col-md-4">
                  <iframe width="100%" height="250px" src="https://www.youtube.com/embed/l5v1sG3nZKs" title="I LOVE MY FAMILY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="col-md-4">
                  <iframe width="100%" height="250px" src="https://www.youtube.com/embed/2zG6OIhym60" title="Bringing World Peace" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
          <!-- <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> -->
        </div>
        <div
          id="carouselExampleAutoplaying"
          class="carousel slide"
          data-bs-ride="carousel"
          *ngIf="isMobileView"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-12">
                  <iframe width="100%" height="250px" src="https://www.youtube.com/embed/O7G3KQJ7MoE" title="Thank You Song" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-12">
                  <iframe width="100%" height="250px" src="https://www.youtube.com/embed/l5v1sG3nZKs" title="I LOVE MY FAMILY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-12">
                  <iframe width="100%" height="250px" src="https://www.youtube.com/embed/2zG6OIhym60" title="Bringing World Peace" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
