<nav class="navbarDots">
  <ul>
    <li>
      <a
        [routerLink]="['/world-peacekeepers-movement']"
        class="dot active"
        data-scroll="pe1"
      >
        <span>The Movement</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/world-peacekeepers-movement']"
        fragment="pe2"
        class="dot"
        data-scroll="pe2"
      >
        <span>I am Peacekeeper</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/world-peacekeepers-movement']"
        fragment="pe3"
        class="dot"
        data-scroll="pe3"
      >
        <span>Sign Up Now</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/world-peacekeepers-movement']"
        fragment="pe4"
        class="dot"
        data-scroll="pe4"
      >
        <span>7 Human Values</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/world-peacekeepers-movement']"
        fragment="pe5"
        class="dot"
        data-scroll="pe5"
      >
        <span>Song and Graphics</span>
      </a>
    </li>
  </ul>
</nav>
<div class="main-body">
  <div class="section partner" id="pe1">
    <section class="section7 position-relative scroll">
      <div class="container-fluid h-100" style="position: relative; z-index: 1">
        <div class="row align-items-center justify-content-center h-100">
          <div class="col-md-12 px-4" *ngIf="isMobileView">
            <ul
              class="p-0 text-center list-unstyled d-flex flex-column align-items-center justify-content-around h-100"
            >
              <li>
                <img
                  loading="eager"
                  src="assets/UIComponents/images/world-peacemaker.webp"
                  alt=""
                  width="70%"
                />
                <p
                  style="
                    font-size: 26px !important;
                    font-weight: 700;
                    line-height: 45px;
                    text-align: center;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #004f91;
                  "
                >
                  I AM PEACEKEEPER <br />
                  <span style="color: #96b522">MOVEMENT</span>
                </p>
              </li>
              <li class="py-2">
                <span class="count mx-auto">1</span>

                <p>
                  Founded by Dr. Huzaifa Khorakiwala <br />
                  (www.dr-huzaifa-khorakiwala.care )
                </p>
              </li>
              <li class="py-2">
                <span class="count mx-auto">2</span>

                <p>
                  To spread world peace through the <br />
                  formation of the world’s largest <br />
                  army – The World Peace Army <br />
                  (online army)
                </p>
              </li>
              <li class="py-2">
                <!-- <img loading="eager"
                  src="assets/UIComponents/images/partners/3.png"
                  alt=""
                /> -->
                <span class="count mx-auto">3</span>

                <p>
                  Online movement comprising <br />
                  of more than 1.8 million <br />
                  peacekeepers
                </p>
              </li>
              <li class="py-2">
                <!-- <img loading="eager"
                  src="assets/UIComponents/images/partners/4.png"
                  alt=""
                /> -->
                <span class="count mx-auto">4</span>
                <p>
                  Based on 7 Human Values - Gratitude, <br />
                  Forgiveness, Love, Humility, Giving, <br />
                  Patience & Truth
                </p>
              </li>
              <li class="py-2">
                <!-- <img loading="eager"
                  src="assets/UIComponents/images/partners/5.png"
                  alt=""
                /> -->
                <span class="count mx-auto">5</span>
                <p>
                  World Peace Triangle-Peace with Oneself, Peace with Law, Peace
                  with People, Peace with Nations (Total: 28 Peace Gems)
                </p>
              </li>
              <li class="py-2">
                <!-- <img loading="eager"
                  src="assets/UIComponents/images/partners/6.png"
                  alt=""
                /> -->
                <span class="count mx-auto">6</span>
                <p>
                  "Peace is when the love of power <br />
                  succumbs to the power of love" <br />
                  <span style="text-transform: lowercase"
                    >(www.facebook.com/WorldPeacekeepers Movement)</span
                  >
                </p>
              </li>
              <li>
                <!-- <img loading="eager"
                  src="assets/UIComponents/images/partners/7.png"
                  alt=""
                /> -->
                <span class="count mx-auto">7</span>
                <p>
                  Planning yearly summit in Dubai. The <br />
                  1st one is planned on 12th - 13th April, 2025 <br />
                  <span style="text-transform: lowercase"
                    >(www.justice-love-peace.com)</span
                  >
                </p>
              </li>
            </ul>
          </div>
          <div class="col-md-12" *ngIf="!isMobileView">
            <div class="row">
              <div class="col-md-4">
                <ul class="p-0 text-center list-unstyled">
                  <li class="my-lg-5">
                    <span class="count mx-auto">1</span>

                    <p>
                      Founded by Dr. Huzaifa Khorakiwala <br />
                      (www.dr-huzaifa-khorakiwala.care )
                    </p>
                  </li>
                  <li class="my-lg-5">
                    <span class="count mx-auto">2</span>

                    <p>
                      To spread world peace through the <br />
                      formation of the world’s largest <br />
                      army – The World Peace Army <br />
                      (online army)
                    </p>
                  </li>
                  <li class="my-lg-5">
                    <!-- <img loading="eager"
                    src="assets/UIComponents/images/partners/3.png"
                    alt=""
                  /> -->
                    <span class="count mx-auto">3</span>

                    <p>
                      Online movement comprising <br />
                      of more than 1.8 million <br />
                      peacekeepers
                    </p>
                  </li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul
                  class="p-0 text-center list-unstyled d-flex flex-column align-items-center justify-content-around h-100"
                >
                  <li>
                    <img
                      loading="eager"
                      src="assets/UIComponents/images/world-peacemaker.webp"
                      alt=""
                      width="70%"
                    />
                    <p
                      style="
                        font-size: 36px;
                        font-weight: bolder;
                        line-height: 45px;
                        text-align: center;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        color: #004f91;
                      "
                    >
                      I AM PEACEKEEPER <br />
                      <span style="color: #96b522">MOVEMENT</span>
                    </p>
                  </li>
                  <li>
                    <!-- <img loading="eager"
                    src="assets/UIComponents/images/partners/7.png"
                    alt=""
                  /> -->
                    <span class="count mx-auto">7</span>
                    <p>
                      Planning yearly summit in Dubai. The <br />
                      1st one is planned on 12th - 13th April, 2025 <br />
                      <span style="text-transform: lowercase"
                        >(www.justice-love-peace.com)</span
                      >
                    </p>
                  </li>
                </ul>
              </div>

              <div class="col-md-4">
                <ul class="p-0 text-center list-unstyled">
                  <li class="my-lg-5">
                    <!-- <img loading="eager"
                    src="assets/UIComponents/images/partners/4.png"
                    alt=""
                  /> -->
                    <span class="count mx-auto">4</span>
                    <p>
                      Based on 7 Human Values - Gratitude, <br />
                      Forgiveness, Love, Humility, Giving, <br />
                      Patience & Truth
                    </p>
                  </li>
                  <li class="my-lg-5">
                    <!-- <img loading="eager"
                    src="assets/UIComponents/images/partners/5.png"
                    alt=""
                  /> -->
                    <span class="count mx-auto">5</span>
                    <p>
                      World Peace Triangle-Peace with Oneself, Peace with Law,
                      Peace with People, Peace with Nations (Total: 28 Peace
                      Gems)
                    </p>
                  </li>
                  <li class="my-lg-5">
                    <!-- <img loading="eager"
                    src="assets/UIComponents/images/partners/6.png"
                    alt=""
                  /> -->
                    <span class="count mx-auto">6</span>
                    <p>
                      "Peace is when the love of power <br />
                      succumbs to the power of love" <br />
                      <span style="text-transform: lowercase"
                        >(www.facebook.com/WorldPeacekeepers Movement)</span
                      >
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img
        loading="eager"
        src="assets/UIComponents/images/watermark.png"
        alt=""
        class="position-absolute"
        style="left: 0; bottom: 0; width: 20rem"
        *ngIf="!isMobileView"
      />
      <img
        loading="eager"
        src="assets/UIComponents/images/watermark.png"
        alt=""
        class="position-absolute"
        style="left: 0; bottom: 0; width: 10rem"
        *ngIf="isMobileView"
      />
    </section>
  </div>
  <div class="section partner" id="pe2">
    <section class="section7 py-lg-0 py-3 position-relative scroll">
      <div class="container-fluid h-100" style="position: relative; z-index: 1">
        <div class="row align-items-center justify-content-center h-100">
          <div class="col-md-12" *ngIf="isMobileView">
            <!-- <img loading="eager"
              src="assets/UIComponents/images/peacekeeper2.svg"
              alt=""
              width="100%"
            /> -->
            <ul class="text-center list-unstyled">
              <li>
                <img
                  loading="eager"
                  src="assets/UIComponents/images/7.png"
                  alt=""
                  class="col-4"
                />
                <p
                  style="
                    font-size: 19px !important;
                    font-weight: 700;
                    line-height: 40px;
                    text-align: center;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #005fa5;
                  "
                >
                  MEANINGS OF I AM PEACEKEEPER
                </p>
              </li>
              <li class="my-5">
                <img
                  loading="eager"
                  src="assets/UIComponents/images/partners/1.png"
                  alt=""
                />

                <p>
                  Our mission is to <br />
                  spread world peace
                </p>
              </li>
              <li class="my-5">
                <img
                  loading="eager"
                  src="assets/UIComponents/images/partners/2.png"
                  alt=""
                />

                <p>
                  We believe inner peace is the <br />
                  foundation of world peace
                </p>
              </li>
              <li class="my-5">
                <img
                  loading="eager"
                  src="assets/UIComponents/images/partners/3.png"
                  alt=""
                />

                <p>
                  We wish each other depending on the day <br />
                  of the week, hence on Wednesday we wish <br />
                  each other, “Happy Love Day” & so on
                </p>
              </li>
              <li class="my-5">
                <img
                  loading="eager"
                  src="assets/UIComponents/images/partners/4.png"
                  alt=""
                />

                <p>
                  We subscribe to the 7 human values <br />
                  of Gratitude, Forgiveness, Love, <br />
                  Humility, Giving, Patience & Truth
                </p>
              </li>
              <li class="my-5">
                <img
                  loading="eager"
                  src="assets/UIComponents/images/partners/5.png"
                  alt=""
                />

                <p>
                  Each human value represents one day <br />
                  of the week, with Monday represented <br />
                  by Gratitude & so on
                </p>
              </li>
              <li class="my-5">
                <img
                  loading="eager"
                  src="assets/UIComponents/images/partners/6.png"
                  alt=""
                />

                <p>
                  Inner peace comes through the <br />
                  practise of human values
                </p>
              </li>
              <li>
                <img
                  loading="eager"
                  src="assets/UIComponents/images/partners/7.png"
                  alt=""
                />

                <p>
                  “Peace is when the power of love <br />
                  overpowers the love for power”
                </p>
              </li>
            </ul>
          </div>

          <div class="col-md-12" *ngIf="!isMobileView">
            <div class="row">
              <div class="col-md-4">
                <ul class="p-0 text-center list-unstyled">
                  <li class="my-5">
                    <img
                      loading="eager"
                      src="assets/UIComponents/images/partners/1.png"
                      alt=""
                    />

                    <p>
                      Our mission is to <br />
                      spread world peace
                    </p>
                  </li>
                  <li class="my-5">
                    <img
                      loading="eager"
                      src="assets/UIComponents/images/partners/2.png"
                      alt=""
                    />

                    <p>
                      We believe inner peace is the <br />
                      foundation of world peace
                    </p>
                  </li>
                  <li class="my-5">
                    <img
                      loading="eager"
                      src="assets/UIComponents/images/partners/3.png"
                      alt=""
                    />

                    <p>
                      We wish each other depending on the day <br />
                      of the week, hence on Wednesday we wish <br />
                      each other, “Happy Love Day” & so on
                    </p>
                  </li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul
                  class="p-0 text-center list-unstyled d-flex flex-column align-items-center justify-content-around h-100"
                >
                  <li>
                    <img
                      loading="eager"
                      src="assets/UIComponents/images/7.png"
                      alt=""
                      class="col-4"
                    />
                    <p
                      style="
                        font-size: 28px;
                        font-weight: 700;
                        line-height: 40px;
                        text-align: center;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        color: #005fa5;
                      "
                    >
                      MEANINGS OF I AM PEACEKEEPER
                    </p>
                  </li>
                  <li>
                    <img
                      loading="eager"
                      src="assets/UIComponents/images/partners/7.png"
                      alt=""
                    />

                    <p>
                      “Peace is when the power of love <br />
                      overpowers the love for power”
                    </p>
                  </li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="p-0 text-center list-unstyled">
                  <li class="my-5">
                    <img
                      loading="eager"
                      src="assets/UIComponents/images/partners/4.png"
                      alt=""
                    />

                    <p>
                      We subscribe to the 7 human values <br />
                      of Gratitude, Forgiveness, Love, <br />
                      Humility, Giving, Patience & Truth
                    </p>
                  </li>
                  <li class="my-5">
                    <img
                      loading="eager"
                      src="assets/UIComponents/images/partners/5.png"
                      alt=""
                    />

                    <p>
                      Each human value represents one day <br />
                      of the week, with Monday represented <br />
                      by Gratitude & so on
                    </p>
                  </li>
                  <li class="my-5">
                    <img
                      loading="eager"
                      src="assets/UIComponents/images/partners/6.png"
                      alt=""
                    />

                    <p>
                      Inner peace comes through the <br />
                      practise of human values
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img
        loading="eager"
        src="assets/UIComponents/images/watermark.png"
        alt=""
        class="position-absolute"
        style="right: 0; bottom: 0; width: 20rem; z-index: -1"
        *ngIf="!isMobileView"
      />
      <img
        loading="eager"
        src="assets/UIComponents/images/watermark.png"
        alt=""
        class="position-absolute"
        style="right: 0; bottom: 0; width: 10rem; z-index: -1"
        *ngIf="isMobileView"
      />
    </section>
  </div>

  <div class="section partner delegate-form" id="pe3">
    <section class="section7 position-relative py-lg-0 py-3">
      <div
        class="container-fluid h-100 p-lg-5"
        style="position: relative; z-index: 1"
      >
        <div class="row justify-content-center h-100">
          <div class="col-md-12 mb-lg-5">
            <h1>JOIN US AS A PEACEKEEPER NOW</h1>
          </div>
          <div class="col-md-8">
            <form
              [formGroup]="peacekeepersForm"
              (ngSubmit)="submitData(fileInput)"
              style="position: relative; z-index: 1"
            >
              <div class="row g-2">
                <div class="col-md my-lg-0 my-3">
                  <div class="">
                    <label for="title" class="px-0"
                      >Full Name :<span
                        class="form-label-span"
                        style="color: #ff0000"
                      >
                        *</span
                      >
                    </label>
                    <input
                      type="text"
                      class="form-control w-100 p-0"
                      formControlName="full_name"
                      name="full_name"
                      id="fullName"
                      #fullName
                      maxlength="200"
                      (paste)="onPaste($event)"
                      placeholder="Enter full name"
                      autocomplete="off"
                      (input)="validateAlpha($event, 'full_name')"
                      (keydown)="handleTabKey($event, 'dob')"
                    />

                    <div
                      class="text-danger"
                      *ngIf="
                        getcontrol('full_name')?.errors &&
                        getcontrol('full_name')?.touched
                      "
                    >
                      <small
                        class="text-danger"
                        *ngIf="getcontrol('full_name')?.errors?.['required']"
                        >Full Name is required</small
                      >
                    </div>
                  </div>
                </div>
                <div class="col-md my-lg-0 my-3">
                  <div class="">
                    <label for="title"
                      >DOB :<span
                        class="form-label-span px-0"
                        style="color: #ff0000"
                      >
                        *</span
                      >
                    </label>
                    <input
                      type="text"
                      id="dob"
                      #dob
                      class="form-control p-0 w-100"
                      placeholder="Select Date of birth"
                      formControlName="dob"
                      [minDate]="minDate1"
                      [maxDate]="maxDate1"
                      (keydown)="disableManualInput($event)"
                      (keydown.tab)="openDatepicker()"
                      (ngModelChange)="onDateChange($event)"
                      bsDatepicker
                      readonly
                      [bsConfig]="{
                        isAnimated: true,
                        dateInputFormat: 'DD/MM/YYYY',
                        showWeekNumbers: false,
                        containerClass: colorTheme
                      }"
                    />

                    <div
                      class="text-danger"
                      *ngIf="
                        getcontrol('dob')?.errors && getcontrol('dob')?.touched
                      "
                    >
                      <small
                        class="text-danger"
                        *ngIf="getcontrol('dob')?.errors?.['required']"
                        >Date of birth is required</small
                      >
                    </div>
                  </div>
                </div>

                <div class="col-md my-lg-0 my-3">
                  <label class="col-md-12 no-padding p-0" for="mobile1"
                    >Country<span
                      class="form-label-span"
                      style="color: #ff0000"
                    >
                      *</span
                    ></label
                  >
                  <div class="row no-padding">
                    <div
                      class="form-group form-group-inner mobile-number col-9 w-100"
                    >
                      <select
                        formControlName="country"
                        style="cursor: pointer"
                        id="country"
                        #country
                        class="form-select w-100 p-0 px-2"
                        required
                        data-error="Please select country"
                        autocomplete="off"
                        (change)="getCountrycode(code)"
                      >
                        <option selected value="" disabled>
                          --Please select country--
                        </option>
                        <option
                          *ngFor="let code of code; let j = index"
                          [value]="code.name"
                        >
                          {{ code.name }}
                        </option>
                      </select>

                      <div
                        *ngIf="
                          getcontrol('country')?.errors &&
                          getcontrol('country')?.touched
                        "
                      >
                        <small
                          class="text-danger"
                          *ngIf="getcontrol('country')?.errors?.['required']"
                          >Country is required</small
                        >
                      </div>
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row g-2 mt-lg-5">
                <div class="col-md my-lg-0 my-3">
                  <div class="">
                    <label for="email" class="px-0">
                      E-Mail:
                      <span class="form-label-span" style="color: #ff0000"
                        >*</span
                      >
                    </label>
                    <input
                      type="email"
                      class="form-control w-100 p-0"
                      formControlName="email_id"
                      name="email_id"
                      id="email"
                      #email
                      pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$"
                      placeholder="Enter your email"
                      autocomplete="off"
                      maxlength="125"
                      required
                      (input)="onInput($event, 'email_id')"
                      (keydown)="onKeyDownEmail($event)"
                    />

                    <div
                      *ngIf="
                        getcontrol('email_id')?.errors &&
                        getcontrol('email_id')?.dirty
                      "
                    >
                      <small
                        class="text-danger"
                        *ngIf="getcontrol('email_id')?.errors?.['required']"
                      >
                        Email is required.
                      </small>
                      <small
                        class="text-danger"
                        *ngIf="getcontrol('email_id')?.errors?.['email']"
                      >
                        Please enter a valid email address.
                      </small>
                      <small
                        class="text-danger"
                        *ngIf="getcontrol('email_id')?.errors?.['pattern']"
                      >
                        Please match the required email format.
                      </small>
                    </div>
                  </div>
                </div>

                <div class="col-md my-3 my-lg-0">
                  <label class="col-md-12 no-padding px-0" for="mobile1"
                    >Mobile Number<span
                      class="form-label-span"
                      style="color: #ff0000"
                    >
                      *</span
                    ></label
                  >
                  <div class="row no-padding">
                    <div
                      class="form-group form-group-inner mobile-number col-9 w-100"
                    >
                      <ngx-intl-tel-input
                        class="custom-width-container"
                        [preferredCountries]="[
                          CountryISO.UnitedStates,
                          CountryISO.India,
                          CountryISO.UnitedKingdom
                        ]"
                        [enableAutoCountrySelect]="false"
                        [enablePlaceholder]="false"
                        [searchCountryFlag]="true"
                        [searchCountryField]="[
                          SearchCountryField.Iso2,
                          SearchCountryField.Name
                        ]"
                        [selectFirstCountry]="false"
                        [selectedCountryISO]="CountryISO.UnitedArabEmirates"
                        [phoneValidation]="true"
                        [separateDialCode]="true"
                        [maxLength]="12"
                        [(ngModel)]="mobile_number"
                        (paste)="onPasteMobileNumber($event)"
                        name="mobile_number"
                        id="number_mobile1"
                        #number_mobile1
                        formControlName="mobile_number"
                        (keydown)="onMobileNumberKeyDown($event,
                                              mobile_number)"
                        (keypress)="keyPressNumbers($event, mobile_number)"
                      ></ngx-intl-tel-input>

                      <span> </span>
                      <small class="text-danger" *ngIf="mobile_numberVal">
                        (Country code + Mobile number) will be 7 to 15 digits
                        based on country.
                      </small>
                      <div
                        *ngIf="
                          getcontrol('mobile_number')?.errors &&
                          getcontrol('mobile_number')?.touched
                        "
                      >
                        <small
                          class="text-danger"
                          *ngIf="getcontrol('mobile_number')?.errors?.['required']"
                          >Mobile number is required</small
                        >
                        <small
                          class="text-danger"
                          *ngIf="
                            !mobile_numberVal &&
                            getcontrol('mobile_number')?.invalid &&
                            getcontrol('mobile_number')?.touched
                          "
                        >
                          {{ getPhoneErrorMessage() }}
                        </small>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 my-3 my-lg-3">
                  <label class="containerCheck">
                    <input type="checkbox" formControlName="Check_email" />
                    <span class="checkmark"></span>
                    Do you want the email or phone number written on the badge?
                    If yes, please tick the checkbox.
                  </label>
                </div>
              </div>

              <!-- </div> -->

              <div class="row g-2">
                <div class="col-md">
                  <label for="" class="imgUpload"
                    >Image Upload
                    <span class="form-label-span" style="color: #ff0000">
                      *</span
                    ></label
                  >
                  <div
                    class="drop-zone"
                    (drop)="onDrop($event)"
                    (dragover)="onDragOver($event)"
                    (dragleave)="onDragLeave($event)"
                    [class.drop-zone-hover]="isDragging"
                  >
                    <img
                      loading="eager"
                      src="assets/UIComponents/images/upload.svg"
                      alt=""
                    />
                    <span class="drop-zone__prompt"
                      >Drag your Image to start uploading</span
                    >
                    <span
                      ><img src="assets/UIComponents/images/divider.svg" alt=""
                    /></span>
                    <!-- <input type="file" name="myFile" class="drop-zone__input"> -->

                    <input
                      class="custom-file-input col-lg-auto col-md-auto col-12"
                      type="file"
                      style="cursor: pointer"
                      accept="image/jpg,image/png,image/jpeg"
                      name="profile_picture"
                      #fileInput
                      (change)="onFileChange($event)"
                    />
                  </div>

                  <button
                    *ngIf="is_selectedFile"
                    class="btn btn-success"
                    data-dismiss="modal"
                    (click)="closeImageModal()"
                    style="
                      margin-top: 5px;
                      height: 32px;
                      font-size: 12px;
                      background-color: #ffff;
                      color: #1d1d11;
                      font-weight: 500;
                    "
                  >
                    Clear Image
                  </button>
                  <!-- <a class="" style="color: #005A93;"  (click)="closeImageModal()"
                  >Clear Image</a> -->
                  <!-- <p *ngIf="selectedFile" class="file-name">Selected file: {{ selectedFile.name }}</p> -->
                  <p
                    style="
                      font-size: 16px;
                      font-weight: 400;
                      line-height: var(--lineHeightsmd);
                      letter-spacing: var(--letterSpacingmd);
                      text-align: left;
                      text-underline-position: from-font;
                      text-decoration-skip-ink: none;
                      color: #6d6d6d;
                    "
                  >
                    Only support .jpg, .png files
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md text-center">
                  <p class="fs-6">
                    By clicking Save, I express my solidarity to spread World
                    Peace and express my willingness to receive promotional
                    material from the I-am-Peacekeeper Movement
                  </p>
                  <button
                    (click)="isCorrect()"
                    type="button"
                    class="btn btn-success text-white text-center px-5 mb-lg-0 mb-4"
                  >
                    Save
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-4 text-lg-end">
            <div class="row">
              <div class="col-md-12">
                <p>
                  Are you a peacekeeper ?
                  <span>
                    <a href="https://peacebook.justice-love-peace.com" target="_blank" style="color: #359138"
                      >Sign in
                    </a>
                    here.
                  </span>
                </p>
              </div>
              <div class="col-md-12">
                <ul class="list-unstyled text-center badge">
                  <div>
                    <img
                      loading="eager"
                      src="assets/UIComponents/images/join-us.webp"
                      alt=""
                      width="100%"
                      class="border"
                      style="border-radius: 10px"
                    />

                    <!-- <button style="float: right;" (click)="downloadImage()">Download as Image</button> -->
                  </div>
                  <li>
                    <button
                      [disabled]="!submitted"
                      class="btn btn-success"
                      (click)="openPopup()"
                    >
                      Preview your Badge
                      <img
                        loading="eager"
                        src="assets/UIComponents/images/download.svg"
                        alt=""
                      />
                    </button>
                  </li>
                  <li>
                    <h6>ALSO JOIN US ON</h6>
                    <a
                      href="https://www.facebook.com/GlobalJusticeLoveandPeaceSummit"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="mx-2"
                    >
                      <img
                        loading="eager"
                        src="assets/UIComponents/images/fb.svg"
                        alt=""
                    /></a>
                    <a
                      href="https://www.instagram.com/globaljusticelovepeacesummit/"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="mx-2"
                    >
                      <img
                        loading="eager"
                        src="assets/UIComponents/images/insta.svg"
                        alt=""
                    /></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img
        loading="eager"
        src="assets/UIComponents/images/watermark.png"
        alt=""
        class="position-absolute"
        style="left: 0; bottom: 0; width: 20rem"
        *ngIf="!isMobileView"
      />
      <img
        loading="eager"
        src="assets/UIComponents/images/watermark.png"
        alt=""
        class="position-absolute"
        style="left: 0; bottom: 0; width: 10rem"
        *ngIf="isMobileView"
      />
    </section>
  </div>
  <div
    class="section section5 partner delegate-form py-3 position-relative"
    id="pe4"
  >
    <div class="container" style="position: relative; z-index: 1">
      <div class="row justify-content-center">
        <div class="col-md-12 text-center">
          <h2>7 Human Values</h2>
        </div>
        <div class="col-md-4 text-center">
          <a [routerLink]="['/blog/human-values']">
            <img
              loading="eager"
              src="assets/UIComponents/images/wpm/pv1.svg"
              alt="7 Peace Value"
              class="col-md-8"
          /></a>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4 text-center my-lg-3">
              <img
                loading="eager"
                src="assets/UIComponents/images/wpm/pv2.svg"
                alt="7 Peace Value"
                class="col-md-8"
              />
            </div>
            <div class="col-md-4 text-center my-lg-3">
              <img
                loading="eager"
                src="assets/UIComponents/images/wpm/pv3.svg"
                alt="7 Peace Value"
                class="col-md-8"
              />
            </div>
            <div class="col-md-4 text-center my-lg-3">
              <img
                loading="eager"
                src="assets/UIComponents/images/wpm/pv4.svg"
                alt="7 Peace Value"
                class="col-md-8"
              />
            </div>
            <div class="col-md-4 text-center my-lg-3">
              <img
                loading="eager"
                src="assets/UIComponents/images/wpm/pv6.svg"
                alt="7 Peace Value"
                class="col-md-8"
              />
            </div>
            <div class="col-md-4 text-center my-lg-3">
              <img
                loading="eager"
                src="assets/UIComponents/images/wpm/pv7.svg"
                alt="7 Peace Value"
                class="col-md-8"
              />
            </div>
            <div class="col-md-4 text-center my-lg-3">
              <img
                loading="eager"
                src="assets/UIComponents/images/wpm/pv8.svg"
                alt="7 Peace Value"
                class="col-md-8"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <img
      loading="eager"
      src="assets/UIComponents/images/watermark.png"
      alt=""
      class="position-absolute"
      style="right: 0; bottom: 0; width: 20rem"
      *ngIf="!isMobileView"
    />
    <img
      loading="eager"
      src="assets/UIComponents/images/watermark.png"
      alt=""
      class="position-absolute"
      style="right: 0; bottom: 0; width: 10rem"
      *ngIf="isMobileView"
    />
  </div>
  <div class="section partner1 mt-lg-0 mt-5" id="pe5">
    <section class="section5 p-lg-5 position-relative">
      <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
          <div class="col-md-12 text-center">
            <iframe
              class="yT col-lg-6 col-md-12 col-12"
              src="https://www.youtube.com/embed/2zG6OIhym60"
              title="Bringing World Peace"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
              style="border-radius: 10px"
            ></iframe>
          </div>
          <div class="col-md-4 p-lg-5 m-lg-0 mx-md-0 m-3">
            <img
              loading="eager"
              src="assets/UIComponents/images/wpm/img1.svg"
              alt=""
              width="100%"
            />
          </div>
          <div class="col-md-4 p-lg-5 m-lg-0 mx-md-0 m-3">
            <img
              loading="eager"
              src="assets/UIComponents/images/wpm/img2.svg"
              alt=""
              width="100%"
            />
          </div>
          <div class="col-md-4 p-lg-5 m-lg-0 mx-md-0 m-3">
            <img
              loading="eager"
              src="assets/UIComponents/images/wpm/img3.svg"
              alt=""
              width="100%"
            />
          </div>
        </div>
      </div>

      <img
        loading="eager"
        src="assets/UIComponents/images/watermark.png"
        alt=""
        class="position-absolute"
        style="left: 0; bottom: 0; width: 10rem; z-index: 1"
        *ngIf="isMobileView"
      />
      <img
        loading="eager"
        src="assets/UIComponents/images/watermark.png"
        alt=""
        class="position-absolute"
        style="left: 0; bottom: 0; width: 20rem; z-index: 1"
        *ngIf="!isMobileView"
      />
    </section>
  </div>
</div>
<!-- Modal -->

<div
  *ngIf="isPeaceOn == 1"
  [ngStyle]="{ display: display }"
  class="modal"
  closeLabel="Close"
  id="trustUntrust_alert"
  #trustUntrust_alert
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog come-from-modal new_dialog1">
    <div class="modal-content p-3">
      <!-- <button class="modal-close" (click)="closeModal()">X</button> -->
      <table class="main w-100" style="margin: auto">
        <tr>
          <td class="preview">
            <!-- <img loading="eager"
              src="assets/UIComponents/images/bg2.png"
              height="350px"
              alt=""
            /> -->
            <div>
              <!-- <h5 style="margin: 0px; text-transform: uppercase">
                  {{this.peacekeepersForm.value.full_name}}
                </h5> -->
              <!-- <hr
                  style="margin: 0px; width: 77%; color: #707070; opacity: 0.3"
                /> -->
              <div>
                <label for="" style="color: #17598e"><b>Name :</b> </label>
                <span style="outline: none; border: none">
                  {{ this.peacekeepersForm.value.full_name }}
                </span>
              </div>
              <!-- <div >
                  <label for="" style="color: #17598e"><b>DOB :</b> </label>
                  <span style="outline: none; border: none">
                    {{this.peacekeepersForm.value.dob}}
                    </span
                  >
                </div> -->
              <div>
                <label for="" style="color: #17598e"><b>Country :</b> </label>
                <span style="outline: none; border: none">
                  {{ this.peacekeepersForm.value.country }}
                </span>
              </div>
              <div>
                <label for="" style="color: #17598e"><b>Mobile :</b> </label>
                <span style="outline: none; border: none">
                  {{ isMobile }}
                </span>
              </div>
              <div style="width: 67%">
                <label for="" style="color: #17598e"><b>E-mail :</b></label>
                <span style="outline: none; border: none">
                  {{ this.peacekeepersForm.value.email_id }}
                </span>
              </div>
            </div>
            <div *ngIf="previewUrl">
              <img
                loading="eager"
                [src]="previewUrl"
                alt=""
                style="
                  position: absolute;
                  top: 15px;
                  right: 20px;

                  border: 2px solid #359138;
                  border-radius: 50%;
                "
              />
            </div>
            <div>
              <div
                style="
                  font-size: 18px;
                  margin-block: 50px;
                  width: 95%;
                  color: #005a93;
                "
              >
                <span class="btnText" style="outline: none; border: none"
                  ><b>
                    To confirm this badge preview, click ‘OK.’
                    <br />
                    To update the information, click ‘Back.’
                  </b>
                </span>
              </div>
            </div>
          </td>
        </tr>
      </table>

      <div class="col-md-12 row justify-content-center mb-4">
        <div class="col-md-4 col-6">
          <button
            class="btn btn-success w-100"
            data-dismiss="modal"
            (click)="submitData(fileInput)"
            style="height: 36px; font-size: 15px"
          >
            OK
          </button>
        </div>
        <div class="col-md-4 col-6">
          <button
            class="btn btn-success w-100"
            data-dismiss="modal"
            (click)="closeModal()"
            style="
              height: 36px;
              font-size: 15px;
              background-color: #ffff;
              color: #198754;
            "
          >
            Back
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="isPeaceOn == 0"
  [ngStyle]="{ display: display }"
  class="modal"
  closeLabel="Close"
  id="trustUntrust_alert"
  #trustUntrust_alert
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog come-from-modal new_dialog1 bgModal">
    <div class="modal-content">
      <!-- <button class="modal-close" (click)="closeModal()">X</button> -->

      <div id="capture">
        <ng-container>
          <table class="main w-100" style="margin: auto">
            <tr>
              <td style="position: relative">
                <img
                  loading="eager"
                  [src]="peacekeeperBadge"
                  class="w-100 cpImg"
                  alt=""
                  width="100px"
                />
              </td>
            </tr>
          </table>
        </ng-container>
      </div>
      <div class="col-md-12 row ms-2 my-3" style="width: 95%">
        <div class="col-6">
          <button
            class="btn btn-success w-100"
            (click)="downloadImage()"
            style="height: 36px; font-size: 15px"
          >
            Download now
          </button>
        </div>
        <div class="col-6">
          <button
            class="btn btn-success w-100"
            (click)="closeModal()"
            style="
              height: 36px;
              font-size: 15px;
              background-color: #ffff;
              color: #198754;
            "
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="isPeaceOn == 2"
  [ngStyle]="{ display: display }"
  class="modal"
  closeLabel="Close"
  id="trustUntrust_alert"
  #trustUntrust_alert
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog come-from-modal new_dialog1">
    <div class="modal-content p-3">
      <!-- <button class="modal-close" (click)="closeModal()">X</button> -->

      <!-- <div class="cropper-container"> -->
      <image-cropper
        *ngIf="imageChangedEvent"
        [imageChangedEvent]="imageChangedEvent"
        (imageCropped)="imageCropped($event)"
        [maintainAspectRatio]="true"
        [resizeToWidth]="1024"
        [cropperMinWidth]="100"
        [cropperMinHeight]="100"
        [transform]="transform"
        [style.width]="'100%'"
      >
      </image-cropper>
      <!-- Zoom Buttons -->
      <!-- <div class="zoom-controls">
    <button class="zoom-button" (click)="zoomIn()">+</button>
    <button class="zoom-button" (click)="zoomOut()">-</button>
  </div>
      </div> -->

      <div class="col-md-12 row justify-content-center mb-4 mt-1">
        <div class="col-md-4 col-6">
          <button
            class="btn btn-success w-100"
            data-dismiss="modal"
            (click)="cropperReady()"
            style="height: 36px; font-size: 15px"
          >
            Crop
          </button>
        </div>
        <div class="col-md-4 col-6">
          <button
            class="btn btn-success w-100"
            data-dismiss="modal"
            (click)="closeImageModal()"
            style="
              height: 36px;
              font-size: 15px;
              background-color: #ffff;
              color: #198754;
            "
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
