
<section class="section5 p-md-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-media-header></app-media-header>
      </div>
      <div class="col-md-12">
        <h1>Video</h1>
      </div>
      <div class="col-md-4">
        <iframe height="300px"
          width="100%"
          src="https://www.youtube.com/embed/2zG6OIhym60"
          title="Bringing World Peace"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
          style="border-radius: 10px"
        ></iframe>
      </div>
      <div class="col-md-4">
        <iframe 
        height="300px"
          width="100%"
          src="https://www.youtube.com/embed/k_NAr0TWP0k"
          title="*New Year Message @ by Dr. Huzaifa Khorakiwala*"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
          style="border-radius: 10px"
        ></iframe>
      </div>
      <div class="col-md-4">
        <iframe height="300px"
          width="100%"
          src="https://www.youtube.com/embed/zeYqmAQUh6c" 
          title="7 VALUES, BELIEFS &amp; MISSION OF ‘ I AM PEACEKEEPER ‘ MOVEMENT"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
          style="border-radius: 10px"
        ></iframe>
      </div>
      <div class="col-md-4">
        <iframe height="300px"
          width="100%"
          src="https://www.youtube.com/embed/JhwHtYtQYWg" title="5th Human Value : Giving"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
          style="border-radius: 10px"
        ></iframe>
      </div>
      <div class="col-md-4">
        <iframe height="300px"
          width="100%"
          src="https://www.youtube.com/embed/F5URoQT7dWc" title="6th Human Value : Patience" 
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
          style="border-radius: 10px"
        ></iframe>
      </div>
      <div class="col-md-4">
        <iframe height="300px"
          width="100%"
          src="https://www.youtube.com/embed/TAuIwS3fSZ8" title="7th Human Value : Happy Truth Day"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
          style="border-radius: 10px"
        ></iframe>
      </div>
    </div>
  </div>
</section>
