
<section class="section5 p-md-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-media-header></app-media-header>
      </div>
      <div class="col-md-12">
        <h1>Photos</h1>

        <div class="card">
          <div class="card-body">
            <div class="row">
              <div id="imageContainer" class="col-md-3" *ngFor="let image of images">
                <div class="position-relative">
                  <div class="spinner-border text-primary position-absolute top-50 start-50 translate-middle" 
                       *ngIf="loadingStates[image]">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <img [src]="image"
                       (error)="handleImageError($event)"
                       (load)="loadingStates[image] = false"
                       [ngStyle]="{'opacity': loadingStates[image] ? '0' : '1'}"
                       style="width: 100%; margin: 1px; object-fit: cover;"
                       [ngClass]="{'d-none': loadingStates[image]}" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
