<main class="index footerLinks">
  <section class="f1 p-lg-5">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-6 text-center">
          <img loading="eager"
            src="assets/UIComponents/images/index/global justice summit.png"
            alt="attach image" class="col-6"
          />
          <h1>ACCESSIBILITY POLICY</h1>
        </div>
        <div class="col-md-6">
          <img loading="eager"
            src="assets/UIComponents/images/contact-us/contact-info.gif"
            alt="attach image"
            class="col-12 col-lg-9"
          />
        </div>
      </div>
    </div>
  </section>
  <section class="section7 p-lg-5 pt-5">
    <div class="row">
      <div class="col-md-12">
        <h3>
          <span class="count" style="display: inline-flex">1</span>
          <b style="color: #008a38"> Accessibility Policy</b>
        </h3>
        <ul style="list-style-type: none">
          <li>
            <h4><b>Purpose:</b></h4>
            <p>
              To ensure our website, events, and services are accessible to all
              individuals, regardless of ability or circumstance, in compliance
              with UAE Federal Law No. 29 of 2006, UAE Federal Law No. 45 of
              2021 (PDPL), and international standards like WCAG 2.1.
            </p>
          </li>
          <li>
            <h4><b>Policy:</b></h4>
          </li>
          <li></li>
        </ul>
        <h3 class="mt-5">
          <ol>
            <li>
              <h3><b>Digital Accessibility:</b></h3>
              <ul>
                <li>
                  <p class="m-0">
                    Website features include compatibility with screen readers,
                    captioning for multimedia content, and adjustable text
                    sizes.
                  </p>
                </li>

                <li>
                  <p>
                    Our mobile applications and third-party platforms used for
                    event registration comply with accessibility guidelines.
                  </p>
                </li>
              </ul>
            </li>
            <li>
              <h3><b>Physical Accessibility for Events:</b></h3>
              <ul>
                <li>
                  <p class="m-0">
                    Venues are chosen with accessible parking, entrances, and
                    seating areas.
                  </p>
                </li>

                <li>
                  <p>
                    Sign language interpretation, Braille materials, or live
                    captioning will be provided upon request.
                  </p>
                </li>
              </ul>
            </li>
            <li>
              <h3><b> Inclusivity in Content:</b></h3>
              <ul>
                <li>
                  <p>
                    Event presentations and materials are designed to be
                    inclusive, with alternative formats available on request
                    (e.g., large print, simplified text).
                  </p>
                </li>
              </ul>
            </li>
            <li>
              <h3><b> Emergency Preparedness:</b></h3>
              <ul>
                <li>
                  <p>
                    Safety procedures include considerations for attendees with
                    mobility challenges or sensory impairments
                  </p>
                </li>
              </ul>
            </li>
            <li>
              <h3><b>Advanced Notice for Requests:</b></h3>
              <ul>
                <li>
                  <p>
                    Accessibility requests must be made at least [10] business
                    days before the event to ensure appropriate arrangements.
                  </p>
                </li>
              </ul>
            </li>
            <li>
              <h3><b>Review and Accountability:</b></h3>
              <ul>
                <li>
                  <p>
                    Accessibility policies are reviewed annually. A dedicated
                    accessibility officer ensures compliance and addresses
                    grievances.
                  </p>
                </li>
              </ul>
            </li>
            <li>
              <h3><b> Feedback Mechanism:</b></h3>
              <ul>
                <li>
                  <p>
                    Concerns, suggestions, or complaints about accessibility can
                    be submitted via email
                    <a href="mailto:help@justice-love-peace.com"
                      >help&#64;justice-love-peace.com</a
                    >, contact <a href="tel:+91 9820203514">+91 9820203514</a>,
                    with a resolution guaranteed within 14 business days.
                  </p>
                </li>
              </ul>
            </li>
          </ol>
        </h3>
      </div>
    </div>
  </section>
</main>
