<div class="section section5 px-lg-3 py-5">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-12 mb-5">
        <h2 style="line-height: normal;">
          LANGUAGES OF GLOBAL <br />
          JUSTICE, LOVE & PEACE SUMMIT
        </h2>
      </div>
      <div class="col-md-5 p-lg-5">
        <img loading="eager"
          src="assets/UIComponents/images/12brochure.png"
          alt="attach image"
          width="100%"
        />
      </div>
      <div class="col-md-7 p-lg-5">
        <div class="row">
          <div class="col-md-3 col-6 my-3">
            <button class="btn btn-success w-100 h-100" (click)="downloadPDF('English')">English</button>
          </div>
          <div class="col-md-3 col-6 my-3">
            <button class="btn btn-success w-100 h-100"  (click)="downloadPDF('Mandarin')">Mandarin Chinese</button>
          </div>
          <div class="col-md-3 col-6 my-3">
            <button class="btn btn-success w-100 h-100"  (click)="downloadPDF('Hindi')">Hindi</button>
          </div>
          <div class="col-md-3 col-6 my-3">
            <button class="btn btn-success w-100 h-100"  (click)="downloadPDF('Spain')">Spanish</button>
          </div>
          <div class="col-md-3 col-6 my-3">
            <button class="btn btn-success w-100 h-100" (click)="downloadPDF('French')">French</button>
          </div>
          <div class="col-md-3 col-6 my-3">
            <button class="btn btn-success w-100 h-100"  (click)="downloadPDF('Arabic')">Arabic</button>
          </div>
          <div class="col-md-3 col-6 my-3">
            <button class="btn btn-success w-100 h-100"  (click)="downloadPDF('Bengali')">Bengali</button>
          </div>
          <div class="col-md-3 col-6 my-3">
            <button class="btn btn-success w-100 h-100" (click)="downloadPDF('Portuguese')">Portuguese</button>
          </div>
          <div class="col-md-3 col-6 my-3">
            <button class="btn btn-success w-100 h-100"  (click)="downloadPDF('Russian')">Russian</button>
          </div>
          <div class="col-md-3 col-6 my-3">
            <button class="btn btn-success w-100 h-100"  (click)="downloadPDF('Urdu')">Urdu</button>
          </div>
          <div class="col-md-3 col-6 my-3">
            <button class="btn btn-success w-100 h-100"  (click)="downloadPDF('Indonesian')">Indonesian</button>
          </div>
          <div class="col-md-3 col-6 my-3">
            <button class="btn btn-success w-100 h-100"  (click)="downloadPDF('German')">German</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
