<div class="section section5 peaceMenu">
  <section class="position-relative" id="pe6">
    <div class="container-fluid h-100">
      <div class="row justify-content-center h-100">
        <div class="col-md-12 text-center">
          <h1><img src="assets/UIComponents/images/Peace.svg" alt="Peace Shop" width="50px" /> Peace Fashion</h1>
        </div>
        <div class="col-md-12 text-center mt-5">
          <div class="comingSoon">
            <img
              loading="lazy"
              src="assets/UIComponents/images/peace-fashion.svg"
              alt="coming soon"
              class="col-md-2"
            />
            <h2 class="col-md-12">Coming Soon</h2>
          </div>
        </div>

        <div class="col-md-12 marqueeBg">
          <marquee behavior="scroll" direction="left">COMING SOON &nbsp;&nbsp;&nbsp; COMING SOON &nbsp;&nbsp;&nbsp; COMING SOON &nbsp;&nbsp;&nbsp; COMING SOON &nbsp;&nbsp;&nbsp; COMING SOON &nbsp;&nbsp;&nbsp; COMING SOON &nbsp;&nbsp;&nbsp; COMING SOON &nbsp;&nbsp;&nbsp; COMING SOON &nbsp;&nbsp;&nbsp; COMING SOON &nbsp;&nbsp;&nbsp; COMING SOON &nbsp;&nbsp;&nbsp; COMING SOON &nbsp;&nbsp;&nbsp; COMING SOON &nbsp;&nbsp;&nbsp; COMING SOON &nbsp;&nbsp;&nbsp; COMING SOON &nbsp;&nbsp;&nbsp; COMING SOON &nbsp;&nbsp;&nbsp; COMING SOON &nbsp;&nbsp;&nbsp; COMING SOON &nbsp;&nbsp;&nbsp; COMING SOON &nbsp;&nbsp;&nbsp; COMING SOON &nbsp;&nbsp;&nbsp; COMING SOON &nbsp;&nbsp;&nbsp; COMING SOON &nbsp;&nbsp;&nbsp; COMING SOON &nbsp;&nbsp;&nbsp; COMING SOON &nbsp;&nbsp;&nbsp; COMING SOON</marquee>
        </div>
      </div>
    </div>

    <!-- <img
      loading="eager"
      src="assets/UIComponents/images/watermark.png"
      alt=""
      class="position-absolute"
      style="left: 0; bottom: 0; width: 10rem; z-index: 1"
      *ngIf="isMobileView"
    />
    <img
      loading="eager"
      src="assets/UIComponents/images/watermark.png"
      alt=""
      class="position-absolute"
      style="left: 0; bottom: 0; width: 20rem; z-index: 1"
      *ngIf="!isMobileView"
    /> -->
  </section>
</div>
