<!-- <div class="payment-success-container">
    <h1>Payment Successful</h1>
    <img loading="eager" *ngIf="isPaymentStatus == 'success'" src="assets/UIComponents/images/paymentmode/success-icon.png " style="width: 200px;" alt="Payment Successful" width="200px" class="success-icon" />
    <img loading="eager" *ngIf="isPaymentStatus == 'failed'" src="assets/UIComponents/images/paymentmode/red-cross.png " style="width: 200px;" alt="Payment Successful" width="200px" class="success-icon" />
    <img loading="eager" *ngIf="isPaymentStatus == 'pending'" src="assets/UIComponents/images/paymentmode/warning_orange.svg " style="width: 200px;" alt="Payment Successful" width="200px" class="success-icon" />
    <p>Your payment for delegate registration has been successfully processed.</p>
</div> -->

<!-- <button  type="button"
class="btn btn-success text-white text-center" (click)="redirectToDashboard()">Go to home</button> -->

  <!-- <div *ngIf="isPaymentSuccessful">
    <p>Payment successful! Thank you for your purchase. You have been registered.</p>
  </div>

  <div *ngIf="isPaymentError">
    <p>Error: {{ errorMessage }}</p>
  </div> -->