<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 p-0">
      <img src="assets/UIComponents/images/glimpse.png" alt="" width="100%" height="60%">
    </div>
  </div>
</div>
<div class="container my-5 d-md-block d-none">
  <div id="multiImageCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="d-flex justify-content-center gap-3">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/1.jpg" class="img-fluid" alt="Image 1" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/2.jpg" class="img-fluid" alt="Image 2" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/3.jpg" class="img-fluid" alt="Image 3" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
         
        
        </div>
        <div class="d-flex justify-content-center gap-3 mt-3">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/4.jpg" class="img-fluid" alt="Image 1" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/5.jpg" class="img-fluid" alt="Image 2" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/6.jpg" class="img-fluid" alt="Image 3" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
        </div>

        <div class="d-flex justify-content-center gap-3 mt-3">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/7.jpg" class="img-fluid" alt="Image 4" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/8.jpg" class="img-fluid" alt="Image 5" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/9.jpg" class="img-fluid" alt="Image 6" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
         
        </div>
      </div>
      <!-- Slide 2 -->
      <div class="carousel-item">
       
        <div class="d-flex justify-content-center gap-3">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/10.jpg" class="img-fluid" alt="Image 4" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/11.jpg" class="img-fluid" alt="Image 5" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/12.jpg" class="img-fluid" alt="Image 6" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
        </div>

        <div class="d-flex justify-content-center gap-3 mt-3">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/13.jpg" class="img-fluid" alt="Image 4" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/14.jpg" class="img-fluid" alt="Image 5" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/15.jpg" class="img-fluid" alt="Image 6" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
         
        </div>

        <div class="d-flex justify-content-center gap-3 mt-3">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/16.jpg" class="img-fluid" alt="Image 4" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/17.jpg" class="img-fluid" alt="Image 5" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/18.jpg" class="img-fluid" alt="Image 6" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
         
        </div>
      </div>
<!-- Slide 3 -->
      <div class="carousel-item">
       
        <div class="d-flex justify-content-center gap-3">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/19.jpg" class="img-fluid" alt="Image 4" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/20.jpg" class="img-fluid" alt="Image 5" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/21.jpg" class="img-fluid" alt="Image 6" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
        </div>

        <div class="d-flex justify-content-center gap-3 mt-3">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/22.jpg" class="img-fluid" alt="Image 4" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/23.jpg" class="img-fluid" alt="Image 5" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/24.jpg" class="img-fluid" alt="Image 6" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
         
        </div>

        <div class="d-flex justify-content-center gap-3 mt-3">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/25.jpg" class="img-fluid" alt="Image 4" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/26.jpg" class="img-fluid" alt="Image 5" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/27.jpg" class="img-fluid" alt="Image 6" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
         
        </div>
        <div class="d-flex justify-content-center gap-3 mt-3">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/28.jpg" class="img-fluid" alt="Image 6" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">

        </div>
      </div>
    </div>

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#multiImageCarousel" data-bs-slide="prev">
      <span class=""><img src="assets/UIComponents/images/prevbutton.png" alt=""></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#multiImageCarousel" data-bs-slide="next">
      <span class=""><img src="assets/UIComponents/images/button.png" alt=""></span>
    </button>
  </div>
</div>

<div class="container my-5 d-md-none d-block">
  <div id="multiImageCarousel1" class="carousel slide vertical-carousel" data-bs-ride="carousel">
    <div class="carousel-inner">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="d-flex justify-content-center gap-3 flex-wrap">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/1.jpg" class="img-fluid" alt="Image 1" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/2.jpg" class="img-fluid" alt="Image 2" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/3.jpg" class="img-fluid" alt="Image 3" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/4.jpg" class="img-fluid" alt="Image 4" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/5.jpg" class="img-fluid" alt="Image 5" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/6.jpg" class="img-fluid" alt="Image 6" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/7.jpg" class="img-fluid" alt="Image 7" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/8.jpg" class="img-fluid" alt="Image 8" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/9.jpg" class="img-fluid" alt="Image 9" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="d-flex justify-content-center gap-3 flex-wrap">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/10.jpg" class="img-fluid" alt="Image 10" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/11.jpg" class="img-fluid" alt="Image 11" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/12.jpg" class="img-fluid" alt="Image 12" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/13.jpg" class="img-fluid" alt="Image 13" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/14.jpg" class="img-fluid" alt="Image 14" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/15.jpg" class="img-fluid" alt="Image 15" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/16.jpg" class="img-fluid" alt="Image 16" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/17.jpg" class="img-fluid" alt="Image 17" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/18.jpg" class="img-fluid" alt="Image 18" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="d-flex justify-content-center gap-3 flex-wrap">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/19.jpg" class="img-fluid" alt="Image 19" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/20.jpg" class="img-fluid" alt="Image 20" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/21.jpg" class="img-fluid" alt="Image 21" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/22.jpg" class="img-fluid" alt="Image 22" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/23.jpg" class="img-fluid" alt="Image 23" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/24.jpg" class="img-fluid" alt="Image 24" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/25.jpg" class="img-fluid" alt="Image 25" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/26.jpg" class="img-fluid" alt="Image 26" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/27.jpg" class="img-fluid" alt="Image 27" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
          <img src="assets/UIComponents/images/28 Clips GJLPS- 2025 _ 12-13 April/28.jpg" class="img-fluid" alt="Image 28" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage(this.src)">
        </div>
      </div>

    </div>

    <!-- Carousel Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#multiImageCarousel1" data-bs-slide="prev" style="width: 40px;">
      <span><img src="assets/UIComponents/images/prevbutton.png" alt="Previous" ></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#multiImageCarousel1" data-bs-slide="next" style="width: 40px;">
      <span><img src="assets/UIComponents/images/button.png" alt="Next"></span>
    </button>
  </div>
</div>



<!-- Image Popup Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    
    <div class="modal-content bg-transparent border-0">
  <div class="bg-white"><span class="bg-dark text-white float-end text-center close-btn" style="border-radius: 28px; width: 20px;">X</span></div>
      <img id="popupImage" src="" class="img-fluid1 rounded shadow" alt="Popup Image">
    </div>
  </div>
</div>