<div class="section5 preselect">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 m-5">
        <div
          class="card text-center justify-content-center shaodw-lg card-1 border-0 bg-white px-sm-2 p-5"
        >
          <div class="card-body show">
            <div class="row">
              <div class="col">
                <!-- <h5><b>Peacekeeper Preselect</b></h5> -->
                <!-- <p>
                  What are you reporting ?
                  <span class="ml-1 cursor-pointer"> Learn more</span>
                </p> -->
              </div>
            </div>
            <div
              class="radio-group row justify-content-between px-3 text-center a"
            >
              <div
                class="col-auto mr-sm-2 mx-1 card-block py-0 text-center radio selected" (click)="goToDelegatePage()"
              >
                <div class="flex-row" >
                  <div class="col">
                    <div class="pic">
                      <!-- <img
                        class="irc_mut img-fluid"
                        src="https://i.imgur.com/6r0XCez.png"
                        width="100"
                        height="100"
                      /> -->
                      <img
                        class="irc_mut img-fluid"
                        src="assets/UIComponents/images/delegate.png"
                        width="100"
                        height="100"
                      />
                    </div>
                    <p>As a Delegate</p>
                  </div>
                </div>
              </div>
              <div
                class="col-auto ml-sm-2 mx-1 card-block py-0 text-center radio" (click)="goToChildNomination()"
              >
                <div class="flex-row">
                  <div class="col">
                    <div class="pic">
                      <img
                        class="irc_mut img-fluid"
                        src="https://i.imgur.com/bGCqROr.png"
                        width="100"
                        height="100"
                      />
                    </div>
                    <p>As a Peace Student</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="row justify-content-center">
              <div class="col">
                <p class="text-muted">
                  A "Single transcript" is something you would have retrived in
                  this way
                </p>
              </div>
            </div> -->
            <!-- <div class="row justify-content-center">
              <div class="col-auto">
                <a [routerLink]="['/home']" type="button" class="btn btn-outline-secondary rounded">
                  <span class="mr-2"
                    ><i class="fa fa-angle-left" aria-hidden="true"></i
                  ></span>
                  Back
                </a>
              </div>
              <div class="col-auto">
                <button type="button" class="btn btn-success rounded">
                  Continue
                  <span class="ml-2"
                    ><i class="fa fa-angle-right" aria-hidden="true"></i
                  ></span>
                </button>
              </div>
            </div> -->
          </div>
        </div>
      </div>

      <div class="col-12 text-center mb-3">
        <img loading="eager" src="assets/UIComponents/images/index/global justice summit.png" alt="attach image" class="col-md-2 col-6">
       </div>
    </div>
  </div>
</div>
