<section class="position-relative section section5 peaceMenu">
  <div class="container-fluid h-100">
    <div class="row align-items-center justify-content-center h-100">
      <div class="col-lg-4 text-center">
        <h1>
          <img
            src="assets/UIComponents/images/metro.webp"
            alt="metro"
            class="img-fluid"
            width="100%"
            loading="lazy"
          />
        </h1>
      </div>
      <div class="col-lg-8 mx-auto mt-5">
        <img
          src="assets/UIComponents/images/metroMap.webp"
          alt="metroMap"
          class="img-fluid"
          width="100%"
          loading="lazy"
        />
        <p>
          For all those who want to use the metro from JLT <span>(Sobha Realty Metro Station) to Venue Dubai Expo city.</span> Please make sure to <span>take the Expo 2020 train</span> and not the UAE Exchange which will show on the indicator.
        </p>
      </div>
    </div>
  </div>
</section>
