<div class="downloadAppBg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card col-md-6 m-auto my-5 section5">
          <div class="card-body text-center">
            <img
              loading="eager"
              src="assets/UIComponents/images/index/global justice summit.png"
              alt="attach image"
              class="col-md-3 col-6"
            />

            <h1>Download Our App Now!</h1>
            <p class="mx-md-5 fw-bold" style="text-align: center">
              Get the best experience with our mobile app, available on Google
              Play Store. Enjoy seamless access, enhanced features, and
              convenience at your fingertips.
            </p>

            <ul
              class="d-flex align-items-center list-unstyled justify-content-center p-lg-5 mx-lg-5 my-lg-0 my-5"
            >
              <!-- <li class="mx-3"><a href=""><img src="assets/UIComponents/images/download-ios.avif" alt="" class="col-12"></a></li> -->
              <li class="mx-3">
                <a href="https://api.justice-love-peace.com/uploads/Peacebook.apk" target="_blank" rel="noreferrer"
                  ><img
                    src="assets/UIComponents/images/download-android.webp"
                    alt=""
                    class="col-md-6"
                /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
